.main-div-of-our-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.child-div-of-our-section {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1140px;
    gap: 10px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 15px;
}

.our-box-one-section {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border-radius: 15px; */
    height: fit-content;
    max-width: 50%;
    text-align: center;

}


.hero-section-second-h1 {
    margin: 10px 10px;
    font-weight: bolder;
    text-align: center ;
}

.hero-section-second-p {
    margin: 10px 10px;
    /* margin-top: 50px; */
    text-align: justify;
    opacity: 0.8;
    height: fit-content;

}

.img-container {
    height: 520px;
  
   max-width: 50%;
}
.apply-now-btn {
    top: -139px;
    left:100px;
    position: relative;
    margin-top: 20px;
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
}

.img-container img {
    
  
    /* position: absolute; */
    border-radius: 15px;
    height: 500px;
    width: 550px;
    display: block;
     margin: 10px 10px;
    /* max-width: 100%; */
}
.img-container img:hover {
    /* Adjust the scale value to control the zoom level */
}

.outerline-box-of-heading{
    max-width: 1140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 15px;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(./bg\ \(31\).jpg);
    
}
.outerline-box-of-heading h1{
    margin: 10px 10px ;
    font-weight: bold;
    text-align: center;
}

.outerline-box-of-heading p{
    margin: 10px 10px;
}
.our-main-outerline-box-of-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .our-main-outerline-box-of-heading h1{
    
    margin: 50px 20px;
    font-weight: bold;
} */

.our-outerline-box-of-heading {
    /* margin-top: 50px; */
    display: flex;
    align-items:center;
    /* width: 700px; */
    text-align: center;
    justify-content: space-between;
    gap: 80px;
    /* border: 2px solid black; */
}
.for-tab-viwe-our-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
}

.our-pic-and-icon {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container {
    position: relative;
}

.our-pic-and-icon img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition: transform 0.3s ease, filter 0.3s ease;
    /* border: 2px solid black; */
  
}

.our-pic-and-icon img:hover {
    transform: scale(0.8);
    filter: blur(5px);
    cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevents overlay from blocking hover effect */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-button {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #DE3335;
    color: white;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
    /* z-index: 5; */
}

.overlay-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container:hover img {
    filter: blur(2px);
}


.our-h2-text-of-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px
}


.main-our-div-of-img-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./bg.jpg);
    background-size: 100% 100%;
    margin-top: 30px ;

}

.our-main-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    /* border: 2px solid black; */
    max-width: 1140px;
    border-radius: 15px;
    gap: 180px;
 
/* background: linear-gradient(to bottom, rgb(187, 64, 64), rgb(109, 86, 86));; */
}

.our-main-images {
    /* width: 50%; */
    /* border: 2px solid black; */
}

.our-main-images img {
    width: 400px;
    height: 400px;
    margin: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border-radius: 15px; */
    /* display: block; */
}

.text-of-main-img {
    /* width: 600px;
    height: 550px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

    /* border: 2px solid black; */
    max-width: 50%;
    width: fit-content;
}

.text-of-main-img h2 {
    /* margin-top: 20px; */
    text-align: left;
    font-size: 45px;
    margin: 11px 10px;
    /* margin-left: 20px; */
    color: white;

}

.all-point-of-why-choose-us {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin: 20px 20px;
    align-items: baseline;
}

.our-icon-or-text-div {
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-left: 20px; */
}

.our-icon-or-text-div p {
    margin-top: 10px;
    font-size: larger;
    color: white;
    /* font-weight: bolder; */
}


/* =============================SEO ourvie section========================== */
.main-seo-course-overview{
    display: flex;
    align-items: center;
    justify-content: center;


}
.seo-course-overview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:50px ;
    border-radius: 15px;
}
.seo-course-overview h1{
    font-weight: bolder;
    /* margin-top: 50px;
    margin-bottom: 20px; */
    margin: 10px 10px;
  
}

/* =====================benifit-of-seo================================== */
.main-div-benifit-of-seo{
    display: flex;
    align-items: center;
    justify-content:center;
     background-image: url(./bg.jpg);
background-size: 100% 100%;
margin-top: 50px;

}
.benifit-of-seo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    gap: 30px;
}
.box1-of-benifit-of-seo{
    max-width: 30%;
}
.box1-of-benifit-of-seo h1{
    color: white;
    margin: 10px 10px;
}
.ans-of-benifit-of-seo{
    max-width: 70%;
    margin: 10px 10px;
}
.box1-of-benifit-of-seo p{
    text-align: justify;
    margin: 10px 10px;
    color: white;
}
.ans-of-benifit-of-seo p{
    color: white;
    margin: 19px 20px;
    text-align: justify;
}
.icon-and-text-benifit-div{
 display: flex;
 align-items: center;
justify-content: center;
}
.our-traning-section-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.seo-overview-od-img-text-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.our-view-of-p-h1 h1{
    text-align: center;
    margin: 10px 10xp;
}
.seo-overview-od-img-text-div p{
    margin:10px 10px;
    text-align: justify;
    font-size: medium;
}
.our-seo-overview-section{
    
    /* display: block;   */

}
.our-seo-overview-section video{
    /* max-width: 100%; */
    margin: 10px 10px;
    /* height: 400px;
    width: 500px; */
    display: block;

}


.our-traning-section-child-div {
    /* width: 90%; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    border-radius: 15px;
}

.our-traning-section-child-div h1 {
    margin: 20px 20px;
    text-align: center;
    font-weight: bold;

}

.our-traning-section-child-div p {
    width: 1100px;
    margin: 20px 20px;
    text-align: justify;

}

/* =================seo-our-view=============== */



/* =====================================================for-btn-div-for-change========================== */


/* ================================================end-here-btn-div==================== */

.our-main-div-of-more-info-btn {
    display: flex;

    align-items: center;
    justify-content: center;
    /* background-image: url(./bg\ \(31\).jpg); */
}

.our-div-of-more-info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-top: 30px;
    border-radius: 15px;
    background-image: url(./bg\ \(31\).jpg);

}

.our-div-of-more-info-btn h1 {
    width: 1100px;
    text-align: center;
    margin: 20px 20px;
}

.our-div-of-more-info-btn button {
    /* margin-top: 20px; */
    margin: 10px 10px;
    background: #DE3335;
    height: 2.4rem;
    width: 254px;
    color: white;
    border: none;
    border-radius: 15px;
}

.our-div-of-more-info-btn button:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}

.our-main-div-of-img-and-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-div-of-img-and-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;

    /* border: 2px solid black; */
}

.our-img-div {
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    height: 400px;
    width: 550px
}

.our-text-section {
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    width: 600px;
    border-radius: 15px;
}

.our-img-div h3 {
    margin: 20px 20px;
    width: 500px;
}

.our-img-div p {
    width: 500px;
    text-align: justify;
    padding: 20px 20px;
}

.our-text-section img {
    height: 400px;
    width: 500px;
}





/* =======================================slider============================= */
.our-main-slider-section {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.main-our-career-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-image: url(./bg\ \(31\).jpg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our-career-div {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
   
    border-radius: 15px;
    
    width: 1140px;
}

.our-career-div p {
    margin: 10px 10px;
    /* width: 1100px; */
}

.our-career-div h1 {
    font-weight: bold;
    text-align: center;
    margin: 10px 10px;

}

.main-our-career-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.our-career-main-div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* width: 90%; */
    border-radius: 100px;
    /* border: 2px solid  #DE3335 ; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.our-career-h2-p-div p {
    width: 1000px;
    text-align: justify;
    margin: 20px 20px;

}
/* ========================="basic-concepts-btn-div"========================== */
 .main-div-basic-concepts-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

 }
 .basic-concepts-div{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    flex-direction: column;
    border-radius: 15px;
 }
 .basic-concepts-div h1{
    margin: 10px 10px;
    font-weight: bold;
    text-align: justify;
 }
 .basic-concepts-div p{
    max-width: 90%;
    margin: 3px 3px;
    text-align: justify;
 }

.main-div-of-slider-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-div-of-slider-heading{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 30px;

}
.center-div-of-slider-heading h1{
    margin: 10px 10px ;
    font-weight: bolder;
    text-align: center ;
}
.center-div-of-slider-heading p{
    margin: 10px 10px ;
    text-align: justify;
}
/* ====================================btn-div========================= */

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
 .icon-and-text-div-of-btn{
    display: flex;
    align-items: center;
    justify-content:left;
 }

  .button-panel {
    flex: 1;
    /* max-width: 200px; */
    min-width: 150px;
width: 300px;
    margin-right: 20px;
  }

  .button-panel .btn {
    display: block;
    /* width: 100%; */
    width: 300px ;
    height: 50px;
    margin-bottom: 10px;
    /* padding: 10px 10px; */
    /* margin: 20px 20px;
    padding: 10px 10px; */
    cursor: pointer;
    border: none;
    background-color: #DE3335; 
    color: white; 
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .button-panel .btn:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: all .3s linear;
  }

  .button-panel .btn.active {
    background-color: rgb(83, 11, 11);
    color: white; 
  }

  .display-container {
    flex: 2;
    min-width: 200px;
    width: fit-content;
  }

  .display-content {
    display: flex;
    display: none;
    opacity: 0;
    transform: translateY(30px) scale(0.9);
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /* width: 80%; */
  }
  /* .display-content h4{
    max-width: 60%;
  } */

  .display-content.active {
    display: block;
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .display-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  @keyframes fadeInScaleUp {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }


/* ======================job-section===================== */
.main-section-of-job-in-our{
    display: flex;
    align-items: center;
    justify-content: center;
  margin-top: 50px;

}
.section-of-job-in-our{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    gap: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 15px;
}
.job-section-img-container{
    display: block;
    /* background-image: url(./bg.jpg);
    background-size: 100% 100%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
   
}
.job-section-img-container img{
    max-width: 100%;
    height: 393px ;
    width: 442px;
}
.our-job-section-text{
    width: 70%;
}
.our-job-section-text h2{
    /* color: white; */
    margin: 10px 10px;
    text-align: center;
}
.our-job-section-text p{
    margin: 10px 10px;
    text-align: justify;
    /* color: white; */
}

/* ===================job-section========================= */
.main-our-job-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.our-job-section{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border-radius: 15px;
       gap: 100px;

}
.certificate-text-section h3{
  margin: 10px 10px;
  text-align: center;
  width: 100%;
}
.certificate-text-section p{
    margin: 10px 10px;
    text-align: justify;
  }
.certificate-text-section{
    display: block;
    width: 40%;
}
.certificate-container img{
    max-width: 100%;
    height: 493px ;
    width: 442px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}



/* ======================vdo-section================= */
.main-section-of-vdo-story{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./bg.jpg);
    background-size: 100% 100%;
    margin-top: 50px;
    margin-bottom: -49px;
 

}
.section-of-vdo-story{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    flex-direction: column;
  
}
.section-of-vdo-story h1{
    color: white;
    margin: 20px 20px;
    font-weight: bold;

}
.video-div{
    display: flex;

}
.video-div video{
    max-width: 100%;
    height: 393px ;
    width: 442px;
    border-radius: 15px;
    margin: 10px 10px;
}

