@media (max-width: 600px) {
    .email-btn {
        display: none !important;
    }

    .mobile-view-no {
        display: block !important;
    }

    .nav-upper-div {
        flex-direction: column;
        justify-content: space-between;
        height: 72px;
        position: fixed;
        overflow: hidden;
        max-height: 100vh;
        padding: 0px 0px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    }

    .nav-upper-div button {
        margin-top: 5px;
    }

    .icon {
        display: block;
        position: fixed;
        z-index: 5;
        top: 13px;
        left: 10px;

    }

    nav {
        justify-content: center;
        position: fixed;
        top: 75px;
        left: -100%;
        width: 80%;
        max-width: 300px;
        height: 100%;
        background-color: #111;
        transition: left 0.3s ease;
        z-index: 10;
    }

    nav.active {
        top: 48px;
        left: 0;
        background-color: #000;
    }

    nav .logo {
        text-align: center;
        margin: 20px 0;
        display: none;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 250px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .h1-of-herosection {
        padding-top: 0px;
        margin-top: 20px;
        font-size: medium;
        text-align: center;
        padding-left: 0px;
    }

    .heading-of-herosection {
        font-size: larger;
        margin-top: 20px
    }

    .herosection::before {
        background-size: 100% 100%;
        height: 310px;
    }

    .btn-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        margin-right: 0px;
    }

    .box1-of-herosection {
        width: 100%;
    }

    .box1-of-herosection button {
        width: 144px;
        height: 2rem;
        margin-left: 0px;
        margin-top: 14px;
    }

    .main-herosection2 {
        margin-top: -51px;
    }

    .herosection2 {
        flex-direction: column;
        gap: 20px;
    }

    .herosection-div-of-text {
        max-width: 100%;
        height: fit-content !important;
        font-size: small;
    }

    .herosection2-img {
        max-width: 100%;
        height: fit-content;
    }


    .h2-of-herosection2 {
        font-size: larger;
        text-align: center;
    }

    .main-p-of-herosection {
        font-size: small;
        margin: 10px 10px;

    }

    .h3-text-of-number-div {
        font-size: medium;
    }

    .numberdiv {
        margin-top: 0px;
    }

    .for-plus h1 {
        font-size: 17px;
    }

    .no4 {
        margin-top: -10px;
        margin-left: -5px;
    }

    .no3 {
        margin-top: 5px;
    }

    .for-plus p {
        display: inline;
    }

    .text-of-2008 {
        margin-top: -5px !important;
    }

    .since-text {
        margin-top: 4px;
    }

    .no-for-flex {
        display: flex;
    }

    .course-box {
        flex-direction: column;
        height: fit-content;
        margin-top: 5px;
    }

    .Explore-section-box {
        flex-wrap: wrap;
    }

    .Explore-section {
        margin-top: 20px;
    }

    .Explore-section-h4 {
        margin: 10px 10px;
        text-align: center;
        font-size: larger;
    }

    .Explore-section-box1 {

        width: fit-content;

    }

    .Courses-section {
        margin-top: 43px;
    }

    .p-of-courses {
        text-align: justify;
        width: 100%;
        padding: 10px 10px;
    }

    .Explore-section-div-of-p {
        text-align: justify;
        width: 100%;
        padding: 10px 10px;
        margin: 0px 0px;
    }

    .abount-div {
        flex-direction: column;
        margin-top: 20px;
    }

    .div-of-center-box-h3 {
        text-align: center;
    }

    .box-of-placements {
        flex-direction: column;
        margin-top: -20px;
        height: fit-content;
    }

    .box1-placement {
        /* height: fit-content; */
        margin-top: 30px;
        max-width: 100%;

        /* position: static; */
    }

    .box2-placement {
        width: fit-content;
        display: none;

    }



    .slides-of-too {
        display: none;
    }

    .p-of-scholar-section {
        width: 100%;
    }

    .main-div-of-scholar-section {
        /* margin-top: 30px; */
    }

    .main-box-of-placements {
        height: fit-content;
        max-width: 100%;
    }



    .h1-of-job-section {
        font-size: medium;
        /* width:543px;
         */
        margin: 10px 10px;
        width: fit-content;
    }

    .point-div {
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
    }

    .icon-flex-div-of-text {
        margin: 10px 10px;
    }

    .icon-size-of-heading {
        margin: 0px 10px;
    }

    .job-section {
        flex-wrap: wrap;
        gap: 10px;
    }

    .tool-bg-item-div {
        flex-direction: column;
        margin-top: 30px;
    }

    /* =====================important============================================ */
    .from-section2 {
        display: none;
        height: 300px;
        margin-top: 40px;
        width: 90%;
    }

    .form-section {

        flex-direction: column;
    }

    .vdo1-section {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .form-section-part-2 {
        flex-wrap: wrap;
    }

    .form-section1 {
        width: 350px;
        height: 400px;
    }

    .bo1-of-from form input {
        width: 250px;
        height: 30px;
    }

    .input-of-select {
        width: 250px;
        height: 28px;
        padding: 0px 0px;
        padding-left: 12px;
    }

    .form-section-div-text {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        padding-right: 0px;

    }

    .h1-of-form-section {
        font-size: medium;
        margin-right: 0px;
    }

    .p-of-form-section {
        margin-right: 0px;
    }

    .about-of-zirakpur {
        flex-direction: column;
    }

    .p-of-questions-section {
        margin: 27px 10px;
    }

    .p-of-questions-section {
        padding: 10px 10px;
        text-align: justify;
        width: 100%;
    }

    .footer-div {
        flex-direction: column;
        align-items: start;
    }

    .question-main-section {
        flex-direction: column;
    }

    .first-question-p {
        width: 300px;
    }

    .footer-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .bottomicon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .footer-second-div h3 {
        margin-top: 0px;
    }

    .text-of-first-footer h3 {
        padding-top: 0px;
    }

    .foooter-first-divm,
    .footer-second-div,
    .footer-thired-div {
        flex-direction: column;
        margin-top: 20px;
        display: flex;
        text-align: center;
        font-size: 12px;
        gap: 10px;
    }

    .footer-thired-div {
        text-align: center;
    }

    .question-section-main-div {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .first-question1 {
        width: 323px;
        height: 89px;
    }

    .question-main-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 323px;
    }

    .questions-section1 {
        flex: 1 1 calc(50% - 30px);
        max-width: none;

    }

    .question-main-section {
        margin-top: 0px;
    }

    .first-question2.show {
        padding-top: 5px;
    }

    .placenet-img {
        height: 300px;
        width: 400px;
    }

    .main-div-of-explore-box {
        margin: 10px 10px;
    }

    .Explore-section-p {
        font-size: larger;
        margin: 10px 10px;
    }

    .p-of-country {
        text-align: justify;
        margin: 10px 10px;
        width: fit-content;
    }

    .p-of-SEO-tool {
        text-align: justify;
        padding: 10px 10px;
        width: 100%;
    }

    .SEO-tool {
        margin-top: 37px;
    }

    .p-certifications-section {
        text-align: justify;
        padding: 10px 10px;
        width: 100%;
        margin: 0px 0px;
    }

    .placenet-img {
        width: 350px;
    }

    .about-heading {
        text-align: center;
    }

    .course-box1 {
        margin-top: 50px;
    }

    .main-job-section {
        margin-top: 36px;
    }

    /* =================================review section-of-company=================== */
    /* .text-of-this-section {
        font-size: smaller;
        width: 100%;
    } */

    .main-section-of-bg {
        flex-direction: column;
    }

    .text-of-this-section h1 {

        font-size: small;
        text-align: center;
        /* width: 100%; */
        margin: 10px 10px;
        line-height: normal;
    }

    .br-remove {
        display: none;
    }

    .button-img {
        flex-direction: column;
        background-image: url(./Best\ Digital\ Marketing\ Training\ in\ Dera\ Bassi.jpg);
        background-size: 100% 100%;
        height: fit-content;
    }

    .buttons {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 12px;
    }

    .btn-of-all-div {
        height: 3.4rem;
        width: 160px;
        font-size: 18px;
        margin: 5px 10px;
        /* margin-top: 105px; */
    }

    .button-section1 {
        width: 100%;
    }

    .buttons button {
        height: 50px;
        width: 146px;
    }

    .h1-of-country {
        text-align: center;
        font-size: medium;
        margin: 10px 10px;
    }

    .placements-h1-p {
        text-align: center;
        font-size: medium;
        height: fit-content;

        margin: 10px 10px;
    }

    .placements-h1-p2 {
        width: 100%;
        text-align: justify;
        padding: 10px 10px;
        margin: 0px 0px;
    }

    .placements-section {
        height: fit-content;
        width: fit-content;
    }

    .placements-h1-p h1 {
        font-size: medium;
        margin: 10px 10px;
    }

    .h1-of-placement {
        font-size: larger;
    }

    .p-of-placement {
        font-size: medium;
    }

    .h1-of-SEO-tool {
        text-align: center;
        font-size: larger;
    }

    .h1-certifications-section {
        margin: 10px 10px;
        text-align: center;
        font-size: larger;
    }

    .scholar-section h1 {
        font-size: larger;
    }

    .h1-of-courses {
        font-size: larger;
        margin: 10px 10px;
    }

    .questions-section h1 {
        font-size: larger;
    }

    .main-div-of-aboutzirkapur {
        margin-top: 30px;
    }

    .bootem-text-of-footer {
        font-size: small;
    }

    .herosection {
        margin-top: 50px;
    }


    .img-of-box {
        flex-direction: column;
        height: fit-content;
    }

    .number-section-of-hero {
        height: fit-content;
        width: 21rem;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .main-number-section-of-hero {
        flex-wrap: wrap;
        margin-top: -40px;
    }

    .img-of-world {
        margin-top: 30px;
        width: 100%;
    }

    .placement-of-p {
        font-size: medium;
    }

    .text-section-of-job {
        max-width: 100%;
    }

    .country-section {
        margin: 10px 10px;
        height: fit-content;
        text-align: center;
    }

    .about-p {
        text-align: justify;
        /* width: 100%; */
    }

    .text-box-of-aboutzirkapur {
        width: 100%;
    }

    .amount-pic {
        height: 410px;
    }

    .p-of-footer {
        display: flex;
        gap: 10px;
    }

    .text-of-first-footer {
        text-align: center;
    }

    .our-courses-section {
        margin-top: 0px;
    }

    .our-courses-section p {
        font-size: larger;
        /* margin-top: 0px; */
    }

    .text {
        font-size: small;
    }

    .div-of-text {
        padding-top: 20px;
    }


    .slide1 {
        flex-wrap: wrap;
    }

    .footer-div-of-row {
        flex-direction: column;
    }

    .text-of-first-footer-h4 {
        margin-top: 20px;
    }

    .logo-0f-footer {
        height: 30px;
        margin-bottom: 50px;
    }

    .slide1-of-schlor-section {
        flex-wrap: wrap;
    }



    .tool-slider1 {
        margin-top: 20px;
    }

    .img-of-review-section-main {
        display: none;
    }



    .company-review-img-size {
        width: 100px;
    }

    .review-of-company img {
        margin-top: 20px;
        height: 58px;
        width: 100px;
    }

    .review-of-company {
        /* margin-left: 20px; */
        display: block;
    }

    .no1,
    .no2,
    .no3,
    .no4 {
        font-size: 10px;
    }

    .img-of-company-review {
        height: fit-content;
        width: 100%;
        margin-left: 0px;
    }

    .img-of-company-review-div {
        height: fit-content;
    }

    .main-section-of-company-review {
        background-image: none;
        margin-top: 20px;
    }

    .cebter-div-of-btn-section {
        height: fit-content;
        margin: 20px 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .review {
        overflow: hidden;
        height: fit-content;
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    .slider {
        /* display: none; */
        max-width: 100vw !important;
    }

    .tool-slider {
        /* display:none */
    }

    .mobile-view-slider {
        height: 100%;
        width: 100%;
    }

    .slider-container {
        /* overflow-x: auto; */
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        /* height: 400px; */
        margin-top: 22px;
    }

    .snip1139 {
        /* min-width: 150px; */
        max-width: calc(100% - 20px);
        margin: 25px;
        width: 300px;
    }

    .snip1139 img {
        width: 100px;
        height: 100px;
        margin-left: 0;
    }

    .snip1139 blockquote {
        padding: 15px;
        font-size: 0.7em;
        width: 200px;
    }

    .snip1139 .author {
        padding: 5px 15px;
    }

    .snip1139 .author h5 {
        font-size: 0.8em;
    }

    .icon-of-whatsapp {
        right: 6px;
        position: fixed;
        top: 550px;
    }

    .view-morebtn-div {
        margin: 0px 0px;
        justify-content: center;
        text-align: center;
    }

    .view-more-btn {
        margin-top: 0px;
    }



    .herosection::before {
        background-image: url(./banner-Mobile-View.jpg);
    }

    .social-icons {
        padding-bottom: 10px;
    }

    .img1-div-of-price img {
        height: 100%;
        margin-top: 10px;
        width: 100%;

    }

    /* ========================== whatsapp=================== */
    .custom-container {
        top: 80%;
    }

    /* ===========================about text================= */
    .bootem-text-of-footer p {
        text-align: center;
    }

    .tool-slider {
        height: 58px;
        width: 100px !important;
        margin: 2px 2px;

    }

    .herosection2-img img {
        /* height: fit-content; */
        width: fit-content;
    }

    iframe {
        margin-top: 30px;
    }


    /* =======================================drop=down=================== */

}

@media (min-width: 760px) and (max-width: 1024px) {
    html {
        font-size: small;
    }

    .logo a img {
        height: 34px;
        width: 158px;
    }

    .herosection2-img img {
        /* height: 509px; */
        height: fit-content;
        width: 100vw;
    }

    .herosection2 {
        flex-direction: column-reverse;
    }

    .herosection-div-of-text {
        max-width: 100%;
        margin: 10px 10px;
    }


    .p-of-courses {
        font-size: 9px;
    }

    html h1 {
        font-size: larger;
    }

    .main-number-section-of-hero {
        top: -100px;
    }

    .herosection::before {
        background-size: 100vw 100%;
        width: 100%;
        height: 30.875rem;

    }

    .herosection {
        max-width: 100%;
        max-height: 460px;
        width: 100%;

    }

    .main-herosection2 {
        margin-top: -82px;
    }

    .question-main-section {
        gap: 0px;
    }

    .Explore-section {
        margin-top: 0px;
    }

    .btn-div {
        top: -116px;
    }

    /* ==========================main-courses========================== */
    .img-of-box {
        /* flex-wrap: wrap; */
    }

    /* ===========================================Courses price========================== */

    /* .img1-div-of-price img {
        height: 294px;
        width: 300px;
    } */

    .bo1-of-from form input {
        width: 300px;
    }

    .input-of-select {
        width: 300px;
    }

    .form-section1 {
        width: 50%;

    }

    .from-section2 {
        height: fit-content;
        flex-wrap: wrap;
    }

    .vdo1-section {
        flex-direction: column;
    }

    .form-section-part-2 {
        flex-direction: column;
    }

    .form-section {
        display: none;
        margin-top: 0px;
        gap: 30px;
    }

    .box1-of-herosection {
        width: 100%;
    }

    .image-container {
        margin: 20px 20px;
        height: 100%;
        width: 100%;
    }

    .image-container img {
        /* height: 150px;
        width: 150px; */
    }

    .office-pic-div {
        flex-direction: row;
    }

    .point-div {
        margin-top: 0px;
        align-items: center;
        justify-content: center;
    }

    .country-section {
        margin-top: 30px;
    }


    .img-of-world {
        width: 100%;
    }

    .SEO-tool {
        margin-top: 20px;
    }

    .main-SEO-tool-section {
        margin-top: 10px;
    }

    .box2-placement {
        left: 82px;
    }

    .box1-placement {
        max-width: fit-content;
        /* position: -ms-page; */
    }


    /* =====================form==================== */
    .questions-section1 {
        flex: 1 1 calc(33.33% - 30px);

    }

    .question-section-main-div {
        flex-direction: column;
   margin-bottom: 30px;

    }

    .first-question1 {
        width: 100%;
    }

    .h1-of-job-section {
        font-size: small;
        /* width: fit-content; */
        margin: 10px 10px;


    }

    .p-of-job-section {
        font-size: small;
        line-height: px;
    }

    .for-plus p {
        font-size: 10px;
    }

    .herosection {
        width: 100vh;
    }

    .herosection2 {
        display: flex;
        flex-direction: column !important;
    }

    .first-p-of-herosection2 {
        font-size: small;
    }

    .video-wrapper {
        height: 90px;
    }

    .video-wrapper:nth-child(4) {
        right: 0px;
        width: 0px;
    }

    .box-of-placements {
        gap: 73px;
        flex-direction: column;
        height: fit-content;
        margin-top: 0px;
    }

    .tool-bg-item-div {
        margin-top: 30px;
    }

    .main-section-of-company-review {
        margin-top: 30px;
    }

    .box1-placement {
        position: -webkit-sticky;
        width: 100%;
        margin-top: 0px;
    }

    .body {
        width: fit-content;
    }

    .gallery {
        width: 450px;
    }

    .Explore-section-p {
        font-size: 10px;
    }

    .main-p-of-herosection {
        font-size: small;
        /* width: 462px; */

    }

    .h1-of-courses {
        font-size: 0.9rem;
    }

    .Explore-section-h4 {
        font-size: larger;
    }

    .flex-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: fit-content;

    }

    /* =========================================box-btn-section========================= */
    .main-section-of-bg {
        flex-direction: column;
    }

    .text-of-this-section {
        /* width: 100%; */

    }

    .button-img {
        display: none;
        flex-direction: column;
        /* background-image: url(./Best\ Digital\ Marketing\ Training\ in\ Dera\ Bassi.jpg); */
        background-size: 100% 100%;
        height: fit-content;
        width: fit-content;
    }

    .btn-of-all-div {
        margin: 20px 20px;
    }

    .text-of-this-section h1 {
        margin-top: 0px;
        text-align: center;
        margin-left: 0px;
        width: 100vw;
        line-height: normal;

    }

    .br-remove {
        display: none;
    }

    .cebter-div-of-btn-section {
        margin: 0px 0px;
        height: fit-content;
    }

    .img-of-tool-pic {
        width: 12.5rem;
    }

    .main-class-of-tool-pic {
        margin-right: 0px;
    }

    /* ==================================slider======================== */
    .slider {
        /* max-width: 100%; */
    }

    .slides {
        max-width: 100vw;
    }

    .tool-slider {
        height: 100px;
        width: 130px;
    }

    .tool-slider1 img {
        height: 78px;
        width: 100px;
    }

    .tool-slider1 {
        height: 120px;
        width: 240px !important;
    }

    .tool-slider1 p {
        font-size: small;
    }

    /* =========================question-section========================= */
    .questions-section {
        margin-top: 30px;
    }

    /* ====================company review section================ */
    .img-of-review-section-main {
        background-size: 100% 100%;
    }


    .company-review-img-size {
        width: 150px;
    }

    .img-of-pic {
        display: none;
    }

    .review-of-company {
        /* display: block; */
        /* margin: 10px 10px; */
        align-items: center;
        justify-content: center;
    }

    .img-of-company-review {
        width: fit-content;
        margin: 0px 0px;
    }

    .button-section1 button {
        width: 142px;
    }





    .p-of-SEO-tool {
        font-size: 9px;

    }

    /* ================ about sectin================= */
    .about-p {
        font-size: 9px;
        margin: 10px 10px;
        line-height:16px;
    }

    .zirkapur-img {
        height: auto;
    }

    .box2-placement {
        display: none;
    }
    .about-heading{
        height: fit-content;
        margin: 10px 10px;
    }
    

    /* ========================== whatsapp=================== */
    .custom-container {
        top: 80%;
    }

    /* ===========================office pic========================== */
    .main-job-section {
        margin-top: 30px;
    }

    .job-section {
        gap: 10px;
        flex-direction: column;

    }

    .img-of-job-ppl {
        flex-direction: row;
    }


    /* ==========================coures section========================== */
    .img-of-box {
        width: fit-content;
    }

    .heading-of-img-below-text {
        font-size: 10px;
    }

    .course-box1-p1 {
        width: fit-content;
        font-size: small;
        height: 173px;
    }
}