@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* font-family: "Poppins", sans-serif;  */


    font-family: "Montserrat", sans-serif;




}



.nav-upper-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: black;
    height: 50px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    /* position:fixed; */
    /* margin-top: 0px; */
}


.nav-upper-div a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

.nav-upper-div a:hover {
    color: #DE3335;
    transition: all .3s linear;
}



.nav-upper-div button {
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
}

.nav-upper-div button:hover {
    background: #000;
    color: white;
    cursor: pointer;
    transition: all .3s linear;
}

.icon {
    display: none;
    cursor: pointer;
}

.icon i {
    font-size: 1.5rem;
}

/* =================================nav-btn================================== */
.email {
    height: 40px;
    width: 320px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1529044728228-9917df974897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    color: white;
    box-shadow: 3px 3px 30px #aaa;
    /* overflow: hidden; */
    margin-left: 160px;
}

.emailcta {
    height: 40px;
    width: 320px;
    color: white;
    z-index: 1;
    transition: 1.2s;
    background: #DE3335;
    margin-left: 160px;
}

.emailcta:hover {
    transform: translateX(+88%);
    transition: 1.2s;
}

.call-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 132px; */
}

.phone {
    background-color: #DE3335;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    position: absolute;
    cursor: pointer;
}

.cta {
    margin-left: 150px;
    height: 40px;
    width: 168px;
    color: white;
    z-index: 1;
    transition: 1.2s;
    background: #DE3335;
}

.number {
    margin-left: 150px;
    height: 40px;
    width: 168px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1529044728228-9917df974897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    color: white;
    box-shadow: 3px 3px 30px #aaa;
    /* overflow: hidden; */
}

.cta:hover {
    transform: translateX(+90%);
    transition: 1.2s;
}

/*,================= Navbar strat==============> */
nav {
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 48px;
    z-index: 1;

}

nav .logo {
    flex: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/*<================= Navbar End==============> */



/*<======================Hero-section-start==================> */
.herosection {
    /* margin-top:60px ; */
    position: relative;
    height: 390px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 100px;


}

.herosection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./bANNER-HOME-PAGE.png );
    background-size: contain;
    filter: blur(0px);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100vw;
    /* background-size: auto; */
}

.box1-of-herosection {
    /* position: relative; */
    z-index: 1;
    color: white;
    width: 50%;
}

.box1-of-herosection p {
    text-align: center;
    color: black;
    line-height: 25px;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1-of-herosection button {
    /* margin-left: 3.75rem; */
    margin-top: 30px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    display: flex;
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
}

.box1-of-herosection button:hover {
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s linear;
}

.h1-of-herosection {
    color: #DE3335;
    padding-top: 45px;
    /* padding-left: 3.75rem; */
    text-align: center;
}

.heading-of-herosection {
    color: black;
    font-size: 2.563rem;
    text-align: center;
}

.hero-text-box {
    /* padding-top: 100px; */
}

.heading-of-img-below-text {
    color: #DE3335;
}

/* <======================herosection end================> */
/* <======================herosection2 start================> */
.main-number-section-of-hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -67px;
}
.number-section-of-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 36rem;
    /* background: linear-gradient(135deg, #ff6347, #4a4a4a); */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    flex-direction: column;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
    overflow: hidden;
    background-image: url(./number\ div\ new.png);
    background-size: cover;
    background-repeat: no-repeat;
  
}
.h3-text-of-number-div{
    margin-bottom: 55px;
    
}

.number-section-of-hero:hover {
    background-color: #ff6347; /* Red background on hover */
    /* Increased shadow */
    transform: scale(1.05); /* Zoom effect on hover */
    outline: 2px solid #000; /* Black outline */
    outline-offset: 10px; /* Offset for the outline */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.numberdiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.no-for-flex{
    display: flex;
   
}

.for-plus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-plus p {
    font-size: 1.5rem;
    margin: 0 5px;
    color: #fff;
}

.since-text {
    color: #f8f9fa;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.no1,
.no2,
.no3,
.no4 {
    text-align: center;
    padding: 10px;
}

/* Animation for numbers */
.for-plus h1 {
    font-size: 1.6rem;
    margin: 0;
    font-weight: bold;
    animation: count-up 2s ease-out forwards;
}

@keyframes count-up {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.main-herosection2{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.herosection2 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    gap: 10px;
    /* flex-direction: column; */
    /* position:absolute; */
    /* margin-top: 4.375rem; */
}
.herosection2-img{
    max-width: 50%;
   
}
.herosection2-img img{
    border-radius: 10px;
    display: block;
    max-width: 100%;
}

.herosection-div-of-text {
    height: 500px !important;
    max-width: 50%;
    text-align: center;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    height: 9.375rem;
    border-radius: 15px;
}

.first-p-of-herosection2 {
    font-weight: bold;

    color: black;
}

.main-p-of-herosection {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1.6rem;
    font-size: medium;
    text-align: center;
    display: inline;

}

.h2-of-herosection2 {
    margin-top: 1rem;
    margin-bottom: 1.0rem;
}

/* <======================herosection2 End================> */
/* <======================Courses-section-start================> */

.snip1273 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    margin: 50px;
    min-width: 310px -60px;
    max-width: 310px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    background-color: #000000;
    font-size: 16px;
}

.snip1273 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    /* z-index: -1; */
}

.snip1273 img {
    position: relative;
    max-width: 100%;
    height: auto;
    width: 400px;
    vertical-align: top;
    /* z-index: -1; */
}

.snip1273 figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    opacity: 0;
    padding: 20px 30px;
}

.snip1273 figcaption:before,
.snip1273 figcaption:after {
    width: 5px;
    height: 3px;
    /* z-index: -1; */
}

.snip1273 figcaption:before {
    right: 0;
    top: 0;
}

.snip1273 figcaption:after {
    left: 0;
    bottom: 0;
}


.snip1273 h3 {
    /* margin: 0 0 5px; */
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}

.h3-of-seo {
    /* text-align: center; */
    margin-top: 60px !important;
}

/* .snip1273 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
} */
.snip1273 a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* z-index: 1; */
}

.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
    position: absolute;
    content: '';
    background-color: #a51b1b;
    /* z-index: -1; */
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0.8;
}

.snip1273:before,
.snip1273:after {
    height: 5px;
    width: 0%;
}

.snip1273:before {
    top: 0;
    left: 0;
}

.snip1273:after {
    bottom: 0;
    right: 0;
}

.snip1273:hover img,
.snip1273.hover img {
    opacity: 0.4;
}

.snip1273:hover figcaption,
.snip1273.hover figcaption {
    opacity: 1;
}

.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
    height: 100%;
}

.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
    width: 100%;
}

.img-of-box {
    display: flex;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.img-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    /* width: 350px; */
    /* border: 2px solid black; */
    width: 100%;
}



span {
    color: #DE3335;
}


.h1-of-numberdiv {
    text-align: center;

}

.no1,
.no2,
.no3,
.no4 {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    transition: all .2s linear;
}

.main-Course-section-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Courses-section {
    /* height: fit-content; */
    /* text-align: ; */
    width: 90%;
    margin-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fffbfb;
    padding-top: 20px;
    border-radius: 10px;

}

.p-of-courses {
    text-align: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.course-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3.87rem;
    width: 100%;


}

.course-box img {
    border-radius: 10px;
}

.course-box1 {
    height: 373px;
    width: 286px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1-of-courses {
    font-weight: bolder;
}

.course-box1-h1 {
    font-weight: bolder;
    font-size: 30px;
}

.course-box1-p1 {
    color: #75716f;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5rem;
    text-align: center;
}

.read-more-btn {
    background: #000;
    height: 2.4rem;
    width: 104px;
    color: white;
    border: none;
    border-radius: 15px;
}

.read-more-btn:hover {
    background: #DE3335;
    color: white;
    transition: all .3s linear;
}

.main-div-of-Explore {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.Explore-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 58px;
    max-width: 100%;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    /* border-radius: 10px; */
}

.Explore-section-div-of-p {
    margin-top: 20px;
    text-align: center;
    width: 90%;
}

.Explore-section-p {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bolder;
}

.Explore-section-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}

.Explore-section-box1 {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 15px;

}

.abount-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 90%;
}


.img1-div-of-price,
.img-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    /* max-width: fit-content; */

    /* To ensure the blue background doesn't overflow */
}

.img1-div-of-price img,
.img-div img {
    width: fit-content;
    height: fit-content;

    object-fit: cover;
    transition: background-color 0.5s ease-in-out;

}

.img1-div-of-price img {
    display: block;
    max-width: 100%;
    height: 504px;

}

.enrol-button a {
    color: white;
    text-decoration: none;
}

.enrol-button {
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: white;
    /* Button background color */
    /* color: blue; Button text color */
    border: #DE3335;
    /* Button border */
    padding: 10px 20px;
    transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    border-radius: 5px;
    /* Optional: adds rounded corners to the button */
}

.img1-div-of-price:hover img {
    /* background-color:#DE3335; */
    opacity: 0.3;
    /* Optional: makes the image partially transparent */

}

.img1-div-of-price:hover .enrol-button {
    opacity: 1;
    background-color: #DE3335;
    /* Highlight button background */
    color: white;
    /* Highlight button text */
    border-color: white;
    /* Highlight button border */
}

.div-of-center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-of-center-box-h3 {
    margin-top: 50px;
}

.div-of-center-box-p {
    margin-top: 20px;
}

.Explore-section-box2 {
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.Explore-section-box3 {
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.Explore-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #75716f;
    height: 61px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.underline {
    margin-top: 20px;
    height: 2px;
    width: 200px;
    background: #DE3335;
}

.explore-job {
    position: relative;
    height: 700px;
    max-width: 100%;
    overflow: hidden;
}

.explore-job::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url(./web-design\ img.jpg);
    background-size: cover;
    filter: blur(5px);


    z-index: -1;
}

.box1-ofjob-section {

    z-index: -1;
}

.text-of-job-section {

    padding-left: 50px;
    width: 80%;
}

.p1-of-job-secttion {
    position: relative;
    margin-top: 150px;
    font-size: 30px;
    max-width: 50%;
    color: white;
    font-weight: bold;

}

.p2-of-job-section {
    font-size: 30px;
    max-width: 50%;
    font-weight: 800;
    color: white;
    margin-top: 20px;
}

.p3-of-job-section {
    color: white;
    margin-top: 10px;
}

.btn-of-job-section {
    margin-top: 50px;
    font-size: 25px;
    background: black;
    height: 3.0rem;
    width: 198px;
    color: white;
    border: none;
    border-radius: 15px;
}

.btn-of-job-section:hover {
    cursor: pointer;
    background: white;
    color: black;
    transition: all .3s linear;
}

.main-job-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-job-section-div {
    flex-direction: column !important;
}

*/ .main-job-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.job-section {
    display: flex;
    align-items: center;
    /* justify-content:space-evenly;     */
    /* width: 80%; */
    justify-content: center;
    max-width: 90%;
    gap: 50px;
}

.img-of-job-ppl {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 80%;
    /* border-radius: 15px; */

}

.office-pic-div {
    display: flex;
    gap: 30px;
    /* border-radius: 15px; */
    flex-direction: column;
}

.office-pic-div img {
    border-radius: 10px;
}

.image-container {
    overflow: hidden;
    height: 206px;
    width: 202px;
    position: relative;
}

.image-container img {
    display: block;
    /* Make the image a block element */
    /* width: 100%; Ensure the image fills its container */
    /* Maintain aspect ratio */
    transition: transform 0.3s ease;
    /* Smooth transition for transform */
}

.image-container:hover img {
    transform: scale(1.1);
    /* Zoom in effect on hover */
}


.img-of-job-ppl img {
    border-radius: 10px;
}

.text-section-of-job {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    max-width: 50%;
}

.h1-of-job-section {
    margin-top: 0px;
    /* text-align: center; */
}

.p-of-job-section {
    margin-top: 30px;
    line-height: 1.5rem;
}

.icon-size-of-heading {
    height: 32px;
    width: 30px;
}

.div-of-p-and-icon {
    /* display: flex; */

    align-items: left;
    justify-content: left;
    flex-direction: column;
    font-size: medium;
    text-align: left;


}

.icon-flex-div-of-text {
    display: flex;
    /* text-align: left; */
    gap: 10px;
    line-height: 30px;
    margin-top: 15px;

    /* align-items: center; */
    /* justify-content: left; */

}

.main-country-div {
    align-items: center;
    justify-content: center;
    display: flex;
}

.country-section {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    max-width: 90%;
    height: 165px;
    border-radius: 15px;
}

.p-of-country {
    margin-top: 30px;
    line-height: 1.5rem;
}

.slider {
    margin-top: 30px;

}

.img-of-world {
    margin-top: 50px;
    height: 460px;
    width: 1000px;
    border-radius: 10px;
}


.placements-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.main-box-of-placements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    /* margin-top: -100px; */
    height: 650px;
}


.h1-of-SEO-tool {
    margin-top: 50px;
}

.placements-h1-p {
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 113px;
    text-align: center;
    max-width: 90%;
    height: 8.188rem;
}

.placement-of-p {
    color: black;
    font-weight: bold;
}

.placements-h1-p2 {
    margin-top: 20px;
}

.box-of-placements {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 174px;
    height: fit-content;

}

.box1-placement {
    position: relative;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-width: 48%;
    /* border: 2px solid black; */
    text-align: center;
    margin-top: -160px;
}

.box2-placement2 {
    max-height: 500px;
}

.p-of-placement {
    margin-top: 1.8rem;
    color: #1356bb;
    font-size: 20px;
    margin-bottom: 50px;
}

.p2-of-placement {
    margin-top: 30px;
    line-height: 1.5rem;
}

.h1-of-placement {
    margin-top: 40px;
}

.box2-placement {
    position: relative;
    width: 50%;
    height: 600px;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* ======================================slider===================================================> */


.gallery {
    margin-top: 10px;
    display: grid;
    height: 342px;
    width: 500px;
    /* overflow:scroll; */
    margin-bottom: 20px;
}

.gallery>img {
    grid-area: 6/1;
    width: 90%;
    height: 100%;
    aspect-ratio: 0;
    object-fit: cover;
    border: 10px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    animation: slide 6s infinite;
}

.gallery>img:last-child {
    animation-name: slide-last;
}

.gallery>img:nth-child(2) {
    animation-delay: -2s;
}

.gallery>img:nth-child(3) {
    animation-delay: -4s;
}


@keyframes slide {
    0% {
        transform: translateX(0%);
        z-index: 2;
    }

    16.66% {
        transform: translateX(120%);
        z-index: 2;
    }

    16.67% {
        transform: translateX(120%);
        z-index: 1;
    }

    33.34% {
        transform: translateX(0%);
        z-index: 1;
    }

    66.33% {
        transform: translateX(0%);
        z-index: 1;
    }

    66.34% {
        transform: translateX(0%);
        z-index: 2;
    }

    100% {
        transform: translateX(0%);
        z-index: 2;
    }
}

@keyframes slide-last {
    0% {
        transform: translateX(0%);
        z-index: 2;
    }

    16.66% {
        transform: translateX(120%);
        z-index: 2;
    }

    16.67% {
        transform: translateX(120%);
        z-index: 1;
    }

    33.34% {
        transform: translateX(0%);
        z-index: 1;
    }

    83.33% {
        transform: translateX(0%);
        z-index: 1;
    }

    83.34% {
        transform: translateX(0%);
        z-index: 2;
    }

    100% {
        transform: translateX(0%);
        z-index: 2;
    }
}



.body {
    /* padding-top: 0px; */
    /* margin: 0; */
    /* min-height: 100%; */
    height: 100%;
    width: 800px;
    display: grid;
    place-content: center;
    position: relative;
    z-index: -3;
    overflow: hidden;
    /* margin-top: -30px; */

}




.video-wrapper {
    position: absolute;
    transform-origin: center center;
    top: 157px;
    left: 124px;

}

.vdo-class1 {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    transform: translate(-50%, -50%);
    position: relative;

}

.vdo-class2,
.vdo-class3,
.vdo-class4,
.vdo-class5,
.vdo-class6,
.vdo-class7 {
    border-radius: 50%;
    height: 102px;
    width: 134px;
    transform: translate(-50%, -50%);
}

.vdo-class2 {
    width: 50px;
    /* transform: translate(-50%, -50%); */
}

.video-wrapper:nth-child(2) {
    transform: rotate(51.43deg) translate(0, -200px) rotate(-51.43deg);
    /* position: absolute;    */
    left: -37px;
    top: 133px;

}

.vdo-class6 {
    width: px;
}


.video-wrapper:nth-child(3) {
    transform: rotate(102.86deg) translate(0, -200px) rotate(-102.86deg);
    top: 20px;
    left: 50px;

}

.video-wrapper:nth-child(4) {
    transform: rotate(154.29deg) translate(0, -200px) rotate(-154.29deg);
    top: 30px;
    left: 182px;

}

.video-wrapper:nth-child(5) {
    transform: rotate(205.71deg) translate(0, -200px) rotate(-205.71deg);
    left: 234px;
    top: 140px;

}

.video-wrapper:nth-child(6) {
    transform: rotate(257.14deg) translate(0, -200px) rotate(-257.14deg);
    left: 177px;
}

.video-wrapper:nth-child(7) {
    transform: rotate(303.57deg) translate(0, -166px) rotate(-308.57deg);
    left: 125px;
    top: 162px;

}

.dot-1 {
    position: relative;

    margin-left: 20px;
}

.dot-2 {
    position: relative;
    /* margin-top: 80px;
    margin-left: 20px; */
    left: 207px;
    bottom: 158px;
}



.main-SEO-tool-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 30px; */
}

.SEO-tool {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
}

.p-of-SEO-tool {
    margin-top: 20px;
    line-height: 1.5rem;
}

/* =========================slider of tool================================== */

/* Slider container */
.slider {
    width: 100%;
    /* Adjust width as needed */
    overflow: hidden;
    /* Ensure slides outside the container are hidden */
    position: relative;
    /* Positioning context for absolute positioning of slides */
}

/* Slides container */
.slides {
    display: flex;
    /* Arrange slides in a row */
    transition: transform 0.5s ease;
    /* Smooth sliding transition */

}

/* Individual slide */
.slide {
    min-width: 100%;
    /* Each slide occupies full width of slider */
    flex: 0 0 auto;
    /* Prevent slides from shrinking */
    box-sizing: border-box;
    /* Include padding and border in slide's total width */
    padding: 20px;
    /* Adjust padding as needed */
    text-align: center;
    /* Center slide content */

}

.tool-slider {
    height: 102px;
    width: 204px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;

}

/* Optional: Add styling to indicators or controls if needed */




.main-div-certifications-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.certifications-section {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    text-align: center;
    max-width: 90%;
}

.slides-of-tool {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.p-certifications-section {
    margin-top: 20px;
    line-height: 1.5rem;
}


.main-div-of-scholar-section {

    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scholar-section {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
    max-width: 90%;
}

/* Icon set - http://ionicons.com/ */
/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css); 
 @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);  */
/* Custom CSS for Testimonial Slider */
/* Icon set - http://ionicons.com/ */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    height: fit-content;
    /* background-color: #f0f0f0; */
    overflow: hidden;

}

.slider-container {
    display: flex;
    /* overflow-x: hidden; */
    position: relative;
    margin-top: 30px;
    /* scrollbar-width: none;  */

}

.snip1139 {
    margin-top: 50px;
    height: fit-content;
    position: relative;
    overflow: visible;
    margin: 10px;
    /* min-width: 250px; */
    /* max-width: 310px; */
    max-height: 400px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: transform 0.1s ease-in-out;
}

.snip1139:hover {
    transform: scale(1.1);
    /* Zoom effect on hover */
    z-index: 1;

}

.snip1139 img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    vertical-align: middle;
    width: 80px;
    /* Adjust size as needed */
    height: 80px;
    /* Adjust size as needed */
    object-fit: cover;
    /* Ensures image fills the circle */
    border-radius: 50%;
    /* Rounded shape */
    transition: transform 0.3s ease-in-out;
    margin-left: 72px;
}

.snip1139:hover img {
    transform: scale(1.2);
    /* Zoom effect on hover */
}

.snip1139 blockquote {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    /* background-color:#c4c8c8; */
    background-color: #e6fbfd;
    padding: 25px 50px 25px 50px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
    height: 250px;
    width: 350px;
    /* width: fit-content; */
}

.snip1139 blockquote:before,
.snip1139 blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
}

.snip1139 blockquote:before {
    top: 25px;
    left: 20px;
}

.snip1139 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

.snip1139 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #e6fbfd;
    margin: 0;
    position: absolute;

    /* color:#e6fbfd    ; */
    /* background: #e6fbfd; */
}

.snip1139 .author {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 25px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    text-transform: uppercase;
}

.snip1139 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

.snip1139 .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}

/* Demo purposes only */

.p-of-scholar-section {
    margin-top: 20px;
    line-height: 1.5rem;
}

.tool-slider1 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 15px;
    margin-right: 20px;

}

.tool-slider1 img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide1 {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
}




.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    margin-top: 40px;
    width: 100%;
}

.bo1-of-from {
    height: fit-content;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-section1 {
    width: 35%;
    height: 523px;
    /* border: 2px solid black; */
    background-color: #1E1810;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;

}


.bo1-of-from form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bo1-of-from form input {
    height: 50px;
    width: 400px;
    /* column-gap: 10px; */
    /* border: none; */
    margin-top: 20px;
    border-radius: 10px;

}

.bo1-of-from form input::placeholder {
    padding-left: 20px;
}

.input-of-select {
    margin-top: 20px;
    height: 50px;
    width: 400px;
    border-radius: 10px;
}

.h1-of-form-section {
    color: white;
    font-weight: bolder;
    margin-right: 228px;
}

.p-of-form-section {
    margin-top: 10px;
    color: white;
    margin-right: 228px;
}

.from-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    /* margin-top: -65px; */
    /* border: 2px solid black; */
    /* margin-bottom: 50px; */
}

.form-section-part-2 {
    display: flex;
}

.vdo1 {
    display: flex;
    height: 230px;
    width: 280px;
    border-radius: 20px;
    /* border: 2px solid black; */
}

.vdo1-section {
    display: flex;
}

.vdo-class {

    width: 275px;
}




.form-btn {
    /* margin-left: 3.75rem; */
    margin-top: 30px;
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
}

.form-btn:hover {
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s linear;
}

/* <===================questions-section==================> */
.questions-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    margin-top: 25px;
}

/* Main Section Styles */
.main-questions-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.question-section-main-div {
    display: flex;
    margin-bottom: 50px;
}

.p-of-questions-section {
    margin-top: 20px;
    line-height: 1.5rem;
}

/* Question Section Styles */
.question-one-section {
    flex-direction: column;
}

.question-main-section {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.questions-section1 {
    height: fit-content;
    width: 550px;
}

/* Icon Styles */
.icon-of-question {
    height: 20px;
    width: 20px;
    margin-left: auto;
}

/* Aligning question content with flexbox */
.first-question1 {
    height: 50px;
    width: 546px;
    text-align: left;
    background: #dff0fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
}

/* Adding transition for smooth toggle effect */
.first-question2 {
    outline: #000;
    transition: all .3s ease-in-out;
    overflow: hidden;
    height: 0;
    opacity: 0;
    text-align: left;
    background: white;
    color: black;
    padding: 0 20px;
}

.first-question2.show {
    height: 50px;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.first-question-p {
    flex-grow: 1;
}

.ans-p {
    margin-left: 20px;
}

hr {
    margin-top: 5px;
}

.main-div-of-aboutzirkapur {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-of-zirakpur {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    gap: 30px;

}

.about-heading {
    margin-top: 20px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    height: 50px;
    width: 16rem;
    border-radius: 15px;
    text-align: center;

}

.zirkapur-img {
    border-radius: 10px;
}

.text-box-of-aboutzirkapur {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-p {
    text-align: center;
    max-width: 90%;
    margin-top: 30px;
    line-height: 1.6rem;
}




footer {
    /* display: none; */
    margin-top: 50px;
    height: fit-content;
}

.logo-0f-footer {
    height: 50px;
    width: 279px;
    margin-top: 10px;
    margin-left: 20px;
}

.footer-div {

    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-direction: column; */
    background-color: #1e1810;
    color: white;
    /* padding-top: 50px; */
}

.footer-div a {
    gap: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

.foooter-first-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-div-of-row {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p-of-footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-icon p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.footer-second-div p {
    margin-top: 10px;

}

.text-left-of-footer {
    text-align: center;
}

.footer-thired-div p {
    margin-top: 10px;
}

.our-courses-section-p {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.div-of-text {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1810;
}

.text {
    max-width: 90%;
    padding-top: 20px;
    line-height: 1.6rem;
    margin-bottom: 30px;
    color: white;
}

.text-of-first-footer-h4 {
    margin-top: 20px;
    /* text-align: center; */
}

.text-of-first-footer-p {
    line-height: 1.3rem;
    margin-top: 20px;
}

.text-of-first-footer {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.div-of-adds {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.bootem-text-of-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1810;
    color: white;
    height: 60px;
}

.footer-hr {
    margin-top: 0px;
}


/* <===================blog section=============> */
.blog-section {
    position: relative;
    margin-top: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
}

.hr-of-blog-section {
    margin-top: 30px;
}

.box1-of-blog {
    /* margin-top: 30px; */
    /* text-align: center; */
    color: black;
    max-width: 90%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border-radius: 15px; */
}

.blog-section1 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1-of-blog {
    opacity: 0.8;
    margin-top: 40px;
    line-height: 1.6rem;
}

.h1-of-blog {
    opacity: 0.8;
}

.flex-text {
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}




/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .phone{
        display: none;
    }
    .nav-upper-div {
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        position: fixed;
        overflow: hidden;
        max-height: 100vh;
        padding: 0px 0px;
    }

    .icon {
        display: block;
        /* margin-top: 50px; */
        position: fixed;
        z-index: 1;
        top: 13px;
        left: 10px;

    }

    nav {
        justify-content: center;
        position: fixed;
        top: 75px;
        left: -100%;
        width: 80%;
        max-width: 300px;
        height: 100%;
        background-color: #111;
        transition: left 0.3s ease;
        z-index: 10;
    }

    nav.active {
        top: 48px;
        left: 0;
        background-color: #000;
    }

    nav .logo {
        text-align: center;
        margin: 20px 0;
        display: none;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 332px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .h1-of-herosection {
        padding-top: 0px;
        margin-top: 20px;
        font-size: medium;
        text-align: center;
        padding-left: 0px;
    }

    .heading-of-herosection {
        font-size: larger;
        margin-top: 20px
    }
    .herosection::before{
        background-size:cover ;
        height: 310px;
    } 

    .btn-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box1-of-herosection {
        width: 100%;
    }

    .box1-of-herosection button {
        width: 144px;
        height: 2rem;
        margin-left: 0px;
        margin-top: 14px;
    }
    .herosection2{
        flex-direction: column;
    }
    .herosection-div-of-text{
        max-width: 100%;
        height: fit-content !important;
        font-size: small;
    }
    .herosection2-img{
        max-width: 100%;
    }

    .h2-of-herosection2 {
        font-size: larger;
        text-align: center;
    }

    .main-p-of-herosection {
        /* flex-direction: column; */
        font-size:small ;
    }
    .h3-text-of-number-div{
          font-size: medium;
    }

    .numberdiv {
       margin-top: 0px;
    }
    .for-plus h1{
        font-size: 20px;
    }
    .no4{
        margin-top: -10px;
        margin-left: -5px;
    }
    .no3{
        margin-top: 5px;
    }
    .for-plus p{
    display: inline;
    }
    .text-of-2008{
        margin-top: -5px !important;
    }
  
    .since-text{
        margin-top: 4px;
    }
    .no-for-flex{
        display: flex;
    }

    .course-box {
        flex-direction: column;
    }

    .Explore-section-box {
        flex-wrap: wrap;
        display: none;
    }
    .Explore-section-h4{
        text-align: center;
        font-size:medium;
    }

    .Explore-section-box1 {

        width: fit-content;

    }

    .abount-div {
        flex-direction: column;
    }

    .div-of-center-box-h3 {
        text-align: center;
    }

    .img-of-job-ppl {
        /* display: none; */
    }

    .box-of-placements {
        flex-direction: column;
    }

    .box1-placement {
        margin-top: 50px;
        max-width: 100%;
    }

    .box2-placement {
        width: fit-content;
        display: none;
    }

    .main-div-certifications-section {
        margin-top: 30px;
    }

    .main-div-of-scholar-section {
        margin-top: 30px;
    }

    .main-box-of-placements {
        padding-top: 20px;
        height: fit-content;
        max-width: 100%;
    }

    .placements-h1-p {
        height: 166px;
    }

    .h1-of-job-section {
        font-size: medium;
    }

    .job-section {
        flex-wrap: wrap
    }



    /* important============================================ */
    .from-section2 {
        display: none;

        height: 300px;
        margin-top: 40px;
        width: 90%;
    }

    .form-section {
        flex-direction: column;
    }

    .vdo1-section {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .form-section-part-2 {
        flex-wrap: wrap;
    }


    .form-section1 {
        width: 90%;
        height: 400px;
    }

    .bo1-of-from form input {
        width: 250px;
        height: 30px;
    }

    .input-of-select {
        width: 250px;
        height: 28px;
    }

    .form-section-div-text {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        padding-right: 0px;

    }

    .h1-of-form-section {
        font-size: medium;
        margin-right: 0px;
    }

    .p-of-form-section {
        margin-right: 0px;
    }

    .about-of-zirakpur {
        flex-direction: column;
    }

    .footer-div {
        flex-direction: column;
        align-items: start;
    }

    /* .text-of-first-footer{
       
    } */
    /* .foooter-first-div{
        display: flex;
        align-items: center;
        justify-content: center;
     } */

    .question-main-section {
        flex-direction: column;
    }

    .footer-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .foooter-first-divm,
    .footer-second-div,
    .footer-thired-div {
        margin-top: 20px;
        display: flex;
        text-align: center;
        font-size: 12px;
        gap: 10px;
    }

    .footer-thired-div {
        text-align: center;
    }

    .question-section-main-div {


        /* ................................................................................. */
        display: none;
        flex-direction: column;
        /* width: 100vh; */
    }

    .question-main-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .questions-section1 {
        flex: 1 1 calc(50% - 30px);
        margin: 15px;
        max-width: none;
    }

    .placenet-img {
        height: 300px;
        width: 400px;
    }

    .Explore-section-p {
        font-size: larger;
    }

    .p-of-country {
        width: fit-content;
    }

    .placenet-img {
        width: 350px;
    }

    .about-heading {
        text-align: center;
    }

    .course-box1 {
        margin-top: 50px;
    }

    .h1-of-country {
        text-align: center;
        font-size: medium;
    }

    .placements-h1-p {
        text-align: center;
        font-size: medium;
        height: fit-content;
    }

    .placements-section {
        height: fit-content;
        width: fit-content;
    }

    .placements-h1-p h1 {
        font-size: medium;
    }

    .h1-of-placement {
        font-size: larger;
    }

    .p-of-placement {
        font-size: medium;
    }

    .h1-of-SEO-tool {
        text-align: center;
        font-size: larger;
    }

    .h1-certifications-section {
        text-align: center;
        font-size: larger;
    }

    .scholar-section h1 {
        font-size: larger;
    }

    .h1-of-courses {
        font-size: larger;
    }

    .questions-section h1 {
        font-size: larger;
    }

    .main-div-of-aboutzirkapur {
        margin-top: 30px;
    }

    .bootem-text-of-footer {
        font-size: small;
    }

    .herosection {
        margin-top: 50px;
        /* height: 550px; */
    }

    .img-of-box {
        flex-direction: column;
    }

    .number-section-of-hero {
        height: fit-content;
        width: 21rem;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .main-number-section-of-hero {
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .main-questions-section {
        margin-top: 100px;
    }

    .img-of-world {
        width: 100%;
        /* height: 400px; */
        /* width: 350px !important; */
    }

    .text-section-of-job {
        max-width: 90%;
    }

    .country-section {
        height: fit-content;
        text-align: center;
    }

    .about-p {
        text-align: center;
    }

    .amount-pic {
        height: 410px;
        /* width: 387px !important; */
    }

    .p-of-footer {
        /* text-align: center; */
        /*display: inline; */
        display: flex;
        /* flex-direction: row; */
        gap: 10px;
    }

    .text-of-first-footer {
        text-align: center;
    }

    .our-courses-section p {
        font-size: larger;
    }

    .text {
        font-size: small;
    }

    .div-of-text {
        padding-top: 20px;
    }

    .slide1 {
        flex-wrap: wrap;
    }



    .footer-div-of-row {
        flex-direction: column;
    }

    .text-of-first-footer-h4 {
        margin-top: 20px;
        /* text-align: left; */
    }

    .logo-0f-footer {
        height: 30px;
        margin-bottom: 50px;
    }

    .slide1-of-schlor-section {
        flex-wrap: wrap;
    }

    .img1-div-of-price img {
        height: 264px;
    }

    .tool-slider1 {
        margin-top: 20px;
    }

    .review {
        /* display: none; */
        /* max-width: 300px; */
        overflow: hidden;
        /* height: 300px;
         */
        height: fit-content;
        width: 100%;
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
        /* Center items vertically */
    }

    .slider-container {
        overflow-x: auto;
        scrollbar-width: none;
        /* Hide scrollbar */
        -ms-overflow-style: none;
        /* Hide scrollbar for IE/Edge */
        -webkit-overflow-scrolling: touch;
        /* Smooth scrolling on iOS */
        height: 400px;
    }

    .snip1139 {
        min-width: 150px;
        /* Adjust minimum width for smaller screens */
        max-width: calc(100% - 20px);
        /* Adjust maximum width to fit container */
        margin: 10px;
        /* Adjust margins for spacing */
    }

    .snip1139 img {
        width: 100px;
        /* Adjust image size for smaller screens */
        height: 100px;
        /* Adjust image size for smaller screens */
        margin-left: 0;
        /* Center image horizontally */
    }

    .snip1139 blockquote {
        padding: 15px;
        /* Adjust padding for blockquote */
        font-size: 0.7em;
        /* Adjust font size for blockquote */
    }

    .snip1139 .author {
        padding: 5px 15px;
        /* Adjust padding for author section */
    }

    .snip1139 .author h5 {
        font-size: 0.8em;
        /* Adjust font size for author name */
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: small;
    }

    html h1 {
        font-size: larger;
    }

    .question-main-section {
        gap: 0px;
    }

    .img1-div-of-price img {
        height: 250px;
        width: 300px;
    }

    .bo1-of-from form input {
        width: 300px;
    }

    .input-of-select {
        width: 300px;
    }

    .form-section1 {
        width: 50%;
    }

    .vdo1-section {
        /* width: 50%; */
        /* display: flex; */
        /* flex-direction: row !important; */
    }

    .from-section2 {
        height: fit-content;
        flex-wrap: wrap;
    }

    .vdo1-section {
        flex-direction: column;
    }

    .form-section-part-2 {
        flex-direction: column;
    }

    .form-section {
        margin-top: 0px;
    }

    .box1-of-herosection {
        width: 100%;
    }

    .img-of-world {
        /* width: 100vh; */
        width: fit-content;
    }


    /* form>........................................... */
    .questions-section1 {
        flex: 1 1 calc(33.33% - 30px);
    }

    .question-section-main-div {
        flex-direction: column;
    }

    .h1-of-job-section {
        font-size: small;

    }

    .p-of-job-section {
        font-size: small;
        line-height: px;
    }

    .for-plus p {
        font-size: 10px;
    }

    .no2 {
        /* gap: 100px; */
    }

    .herosection {
        width: 100vh;
        
    }

    .first-p-of-herosection2 {
        font-size: small;
    }

    .video-wrapper {
        height: 90pxpx;
    }

    .video-wrapper:nth-child(4) {
        right: 0px;
        width: 0px;

    }

    .box-of-placements {
        gap: 73px;
    }

    .box1-placement {
        width: 45%;
    }

    .body {
        width: fit-content;
    }

    .gallery {
        /* display: none; */
        width: 450px;
    }

    .Explore-section-p {
        font-size: 10px;
    }

    .main-p-of-herosection {
        font-size: small;
    }

    .h1-of-courses {
        font-size: 0.9rem;
    }

    .Explore-section-h4 {
        font-size: larger;
    }

    .flex-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


}