@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "RecoletaAlt"; */


}

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: bolder;
    font-style: normal;
}

/* .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  } */


/* @font-face {
    font-family: "RecoletaAlt";
    src: url(./font/Recoleta-Light.eot);
    font-weight: 700;
} */

/* =================================nav-btn================================== */
/* .br-remove{
    display: none;
} */
.mobile-view-no {
    display: none !important;
}

a {
    color: #fff;
    text-decoration: none;
}

.me {
    width: 400px;
    margin: 90px auto;
}

.me p,
.me h1 {
    letter-spacing: 3px;
    text-align: center;
}

.me p {
    font-weight: 200;
}

.nav-icon-size {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    fill: #DE3335;
}



.social-icons {

    margin: 0;
    padding: 0;
    display: flex;
}

.social-icon-item {
    list-style: none;
}

.social-icon-link {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 9px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    /* background: linear-gradient(0deg, #ddd, #fff); */
    transition: .5s;
}

.social-icon-link:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.social-icon {
    width: 100%;
    height: 100%;
    display: block;
    /* background: linear-gradient(0deg, #fff, #ddd); */
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #dd4b39;
    transition: .5s;
}

.social-icons .social-icon-item:nth-child(1) .social-icon:hover {
    color: #316FF6 !important;
    /* Facebook color */
}

.social-icons .social-icon-item:nth-child(2) .social-icon:hover {
    color: #262626;
    /* New color for X (adjust as needed) */
}

.social-icons .social-icon-item:nth-child(3) .social-icon:hover {
    color: #007bb6 !important;
}

.social-icons .social-icon-item:nth-child(4) .social-icon:hover {

    /* color: #000000;  */
    /* background-color: linear-gradient(45deg, #fd5c63, #f7c325, #8a3ab9); */
    color: #d6249f !important;
}

.twittericonimg:hover {
    fill: black !important;
    transition: all .3s linear;
    background: white;

}

.social-icons .social-icon-item:nth-child(5) .social-icon:hover {
    color: #e4405f !important;
    /* Instagram color */
}

.bottomicon {
    color: white !important;
    margin-top: 30px;
    /* margin-left: 50px; */
    gap: 50px;
    /* margin: 10px 10px; */

}

.bootom-icon {
    fill: white !important;
    color: white !important;
}

#bootom-icon {
    fill: white;
    color: white;
}


.nav-upper-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: black;
    height: 50px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0px;
}

.nav-upper-div a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

.nav-upper-div a:hover {
    fill: #DE3335;
    color: #DE3335;
    transition: all .3s linear;
}

.nav-upper-div button {
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
}

.nav-upper-div button:hover {
    /* background: #000; */
    color: white;
    cursor: pointer;
    transition: all .3s linear;
}

.icon {
    display: none;
    cursor: pointer;
}

.icon i {
    font-size: 1.5rem;
}


/*,================= Navbar strat==============> */
nav {
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 48px;
    z-index: 3;
}

nav .logo {
    flex: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    position: relative;
    /* Add this to make the dropdown position relative to this item */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Dropdown menu styles */
.dropdown-menu {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    /* Default width */
    display: none;
    position: absolute;
    top: 100%;
    /* Align directly below the parent item */
    left: 0;
    background: #000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #444;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(0.7rem);
    /* Make sure it appears below the item */
    z-index: 15;
}

.dropdown-menu li {
    text-align: center;
    margin: 0;
}

.dropdown-menu li a {
    text-align: center;
    width: 100%;
    /* Take full width of the dropdown */
    padding: 10px 15px;
    /* Adjust padding for smaller screens */
    display: block;
    color: white;
    box-sizing: border-box;
    /* Ensure padding is included in width */
}

.dropdown-menu li a:hover {
    background: #333;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    /* Ensure it’s visible directly below */
}


/*<================= Navbar End==============> */



/*<======================Hero-section-start==================> */

.main-hero-section-for-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.herosection {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 100px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.herosection::before {
    content: "";
    top: 0;
    left: 0;
    display: block;
    height: 550px;
    width: 100%;
    background-image: url(./Technical\ SEO\ Training\ Zirakpur.jpg );
    background-size: cover;
    filter: blur(0px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    z-index: -4;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -2;
}

.box1-of-herosection {
    position: relative;
    z-index: 1;
    color: white;
    width: 50%;
}

.box1-of-herosection p {
    text-align: center;
    color: black;
    line-height: 25px;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -100px;
    margin-right: 50px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
    z-index: 1;
}

.btn-div:hover {
    background: #000;
    color: white;
    cursor: pointer;
    transition: all .3s linear;
}


.box1-of-herosection button {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
}

.box1-of-herosection button:hover {
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s linear;
}

.h1-of-herosection {
    color: #DE3335;
    padding-top: 45px;
    text-align: center;
}

.heading-of-herosection {
    color: black;
    font-size: 2.563rem;
    text-align: center;
}

.heading-of-img-below-text {
    font-size: 19px;
    color: #DE3335;
}

/* <======================herosection end================> */


/* <======================herosection2 start================> */
.main-number-section-of-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    max-height: 100vh;
    margin: 0px 0px;
    top: -78px;
    z-index: 2;
}

.number-section-of-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 30rem;
    background: linear-gradient(135deg, #ff6347, #4a4a4a);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    flex-direction: column;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
    /* box-shadow: rgb(38, 57, 77) 0px 60px 30px -10px; */
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;

}

.h3-text-of-number-div {
    margin-bottom: 55px;
}

.number-section-of-hero:hover {
    background-color: #ff6347;
    transform: scale(1.05);
    outline: 2px solid #000;
    outline-offset: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    cursor: default;
}

.numberdiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.no-for-flex {
    display: flex;
}

.for-plus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-plus p {
    font-size: 1.5rem;
    margin: 0 5px;
    color: #fff;
}

.since-text {
    color: #f8f9fa;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.no1,
.no2,
.no3,
.no4 {
    text-align: center;
    padding: 10px;
}

.for-plus h1 {
    font-size: 1.6rem;
    margin: 0;
    font-weight: bold;
    animation: count-up 2s ease-out forwards;
}

@keyframes count-up {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.main-herosection2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;

}

.herosection2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1140px;
    gap: 40px;
}

.herosection2-img {
    max-width: 50%;

}

.herosection2-img img {
    border-radius: 10px;
    display: block;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.herosection-div-of-text {
    max-width: 50%;
    text-align: center;
    height: 9.375rem;
    border-radius: 15px;
    height: fit-content;
}

.first-p-of-herosection2 {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.main-p-of-herosection {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    text-align: justify;
    line-height: 27px;
    /* width: 500px; */


}

.h2-of-herosection2 {
    margin-top: 0.5rem;

}

/* <======================herosection2 End================> */

/* <======================Courses-section-start================> */

.snip1273 {
    font-family: "Poppins", sans-serif;
    text-align: justify;
    position: relative;
    margin: 18px;
    min-width: 310px -60px;
    max-width: 310px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    background-color: #000000;
    font-size: 16px;
}

.snip1273 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.snip1273 img {
    position: relative;
    max-width: 100%;
    height: auto;
    width: 400px;
    vertical-align: top;
}

.snip1273 figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 20px 30px;
}

.snip1273 figcaption:before,
.snip1273 figcaption:after {
    width: 5px;
    height: 3px;
}

.snip1273 figcaption:before {
    right: 0;
    top: 0;
}

.snip1273 figcaption:after {
    left: 0;
    bottom: 0;
}


.snip1273 h3 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}

.h3-of-seo {
    margin-top: 60px !important;
}



*/ .snip1273 a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
    position: absolute;
    content: '';
    background-color: #a51b1b;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0.8;
}

.snip1273:before,
.snip1273:after {
    cursor: pointer;
    height: 5px;
    width: 0%;
}

.snip1273:before {
    top: 0;
    left: 0;
}

.snip1273:after {
    bottom: 0;
    right: 0;
}

.snip1273:hover img,
.snip1273.hover img {
    opacity: 0.4;
}

.snip1273:hover figcaption,
.snip1273.hover figcaption {
    opacity: 1;
}

.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
    height: 100%;
}

.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
    width: 100%;
}

.img-of-box {
    display: flex;
    /* max-width: 90%; */
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
    height: 510px;
    gap: 20px;

}


.img-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    /* width: 100%; */
    font-family: "Poppins", sans-serif;
    text-align: center;
    /* border: 2px solid black; */

}

span {
    color: #DE3335;
}


.h1-of-numberdiv {
    text-align: center;

}

.no1,
.no2,
.no3,
.no4 {
    text-align: center;
    font-size: 12px;
    /* font-weight: bold; */
    transition: all .2s linear;
}

.main-Course-section-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.Courses-section {
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;

    /* opacity: 0.8; */
    /* filter: blur(8px); */
    /* filter: blur(15px) */
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    max-width: 1140px;
    margin-top: 50px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: #fffbfb; */
    /* padding-top: 20px; */
    border-radius: 10px;

}

.p-of-courses {
    text-align: center;

    margin-top: 10px;
    margin-bottom: 20px;
}

.main-course-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 20px; */
    height: 510px;
    max-width: 1140px;
}

.course-box img {
    border-radius: 10px;
}

.course-box1 {
    height: 373px;
    width: 286px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1-of-courses {
    font-weight: bolder;
}

.course-box1-h1 {
    font-weight: bolder;
    font-size: 30px;
}

.course-box1-p1 {
    /* height: 120px; */
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25.6px;
    text-align: justify;
    width: 265px;
    display: block;
}
.link-of-div a{
    cursor: pointer;
}

.read-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    height: 2.4rem;
    width: 104px;
    color: white;
    border: none;
    border-radius: 15px;
}

.read-more-btn:hover {
    background: #DE3335;
    color: white;
    transition: all .3s linear;
}


/* ============================button-images-section======================= */
.text-of-this-section {
    /* animation: select 100ms step-end forwards; */
    user-select: all;
    /* width: 30%; */
    height: fit-content;
}

.text-of-this-section h1 {
    margin-top: -57px;
    color: white;
    margin-left: 20px;
    font-size: 32px;
    text-align: left;
    width: 284px;
    line-height: 55px;
}

.button-center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-img {

    margin-top: 10px;
    background-image: url(./Best\ SEO\ Courses\ in\ Zirakpur.png);
    height: 660px;
    background-repeat: no-repeat;
    max-width: 1140px;
}

.btn-of-all-div {
    margin-top: 40px;
    background: #DE3335;
    height: 4.4rem;
    width: 216px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px;
}

.btn-of-all-div:hover {
    background: #000;
    color: white;
    transition: all .3s linear;
}

.heading-of-text-images {
    text-align: center;
    color: white;
}

.main-section-of-bg {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-image: url(./btn-img.png); */
}

.button-section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* width: 70%; */
    /* height: 400px; */
}

.cebter-div-of-btn-section {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.buttons {
    display: flex;
    font-size: 18px;
}

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.close:hover,
.close:focus {
    box-shadow:
        inset -3.5em 0 0 0 var(--hover),
        inset 3.5em 0 0 0 var(--hover);
}


.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}


.slide2:hover,
.slide2:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
    box-shadow:
        0.3em 0.3em 0 0 var(--color),
        inset 0.3em 0.3em 0 0 var(--color);

    &:hover,
    &:focus {
        box-shadow:
            0 0 0 0 var(--hover),
            inset 6em 3.5em 0 0 var(--hover);
    }
}

.fill {
    background: black;
    --color: white;
    --hover: #DE3335;
}

.slide2,
.offset,
.up,
.raise,
.close,
.pulse {
    --color: white;
    --hover: #DE3335;
}


.button-section1 button {
    color: var(--color);
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #fff;
    }
}

.button-section1 button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    height: 73px;
    width: 140px;
    font-weight: bold;
}

h1 {
    font-weight: 400;
}

code {
    color: #e4cb58;
    font: inherit;
}

.main-div-of-Explore {


    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.Explore-section-h4 {
    font-size: 26px;
    margin-bottom: 10px;
    /* font-family: "Tangerine", cursive; */
    font-weight: 700;
    color: #dd4b39;
    margin-bottom: 27px;
}

.Explore-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 58px;
    max-width: 100%;
}

.main-div-of-explore-box {
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    max-width: 1140px;
    border-radius: 15px;


}

.Explore-section-div-of-p {
    margin-top: 20px;
    text-align: center;

    margin: 10px 10px;
}


.Explore-section-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}

.Explore-section-box1 {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 15px;
}

.abount-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 90%;
    gap: 35px;
}

.img1-div-of-price,
.img-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
}

.img1-div-of-price img,
.img-div img {
    width: fit-content;
    height: fit-content;
    object-fit: cover;
    transition: background-color 0.5s ease-in-out;

}

.img1-div-of-price img {
    display: block;
    max-width: 100%;
    /* height: 504px; */
}

.enrol-button a {
    color: white;
    text-decoration: none;
}

.enrol-button {
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: white;
    border: #DE3335;
    padding: 10px 20px;
    transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    border-radius: 5px;
}

.img1-div-of-price:hover img {
    opacity: 0.3;
}

.img1-div-of-price:hover .enrol-button {
    opacity: 1;
    background-color: #DE3335;
    color: white;
    border-color: white;
}

.div-of-center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-of-center-box-h3 {
    margin-top: 50px;
}

.div-of-center-box-p {
    margin-top: 20px;
}

.Explore-section-box2 {
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.Explore-section-box3 {
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.Explore-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #75716f;
    height: 61px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.underline {
    margin-top: 20px;
    height: 2px;
    width: 200px;
    background: #DE3335;
}

.explore-job {
    position: relative;
    height: 700px;
    max-width: 100%;
    overflow: hidden;
}

.explore-job::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url(./web-design\ img.jpg);
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.btn-of-job-section:hover {
    cursor: pointer;
    background: white;
    color: black;
    transition: all .3s linear;
}

.main-job-section-div {
    flex-direction: column !important;
}

.main-job-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.job-section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:1140px;
    gap: 50px;
    /* background-image: url(./bg-imge-for-text.jpg); */
    /* color: white; */
}

.img-of-job-ppl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* max-width: 80%; */
}

.office-pic-div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.office-pic-div img {
    border-radius: 10px;
}

.image-container {
    overflow: hidden;
    height: 206px;
    width: 202px;
    position: relative;
}

.image-container img {
    display: block;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}


.img-of-job-ppl img {
    border-radius: 10px;
}

.text-section-of-job {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    /* max-width: 55%; */
}

.point-div {
    display: flex;
    gap: 36px;
    margin-top: 30px;
}

.h1-of-job-section {
    margin-top: 0px;
    /* width: 612px; */
}

.p-of-job-section {
    margin-top: 30px;
    line-height: 1.5rem;
}

.icon-size-of-heading {
    height: 30px;
    width: 30px;

}

.icon-size-of-form-div {
    fill: red;
    height: 14px;
    width: 15px;
}

.div-of-p-and-icon {
    align-items: left;
    justify-content: left;
    flex-direction: column;
    font-size: medium;
    text-align: left;
}

.icon-flex-div-of-text {
    display: flex;
    gap: 10px;
    line-height: 30px;
    margin-top: 15px;
}

.main-country-div {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 1140px;
}

.country-section {

    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    height: 165px;
    border-radius: 15px;
}

.p-of-country {
    text-align: center;
    /* margin-top: 15px; */
    line-height: 1.5rem;
    /* width: 72.831rem; */
    margin: 10px 10px;
    /* padding: 10px */
}
.img-of-world {
    margin-top: 50px;
    height: 460px;
    width: 1000px;
    border-radius: 10px;
}

.placements-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-box-of-placements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    flex-direction: column;
    /* height: 650px; */
    margin-top: 25px;
    max-width: 1140px;
}

.h1-of-SEO-tool {
    margin-top: 10px;
}

.placements-h1-p {
    display: none;                                
       /* ==================================imp================== */
    border-radius: 15px;
    text-align: center;
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* max-width: 1140px; */
}

.placement-of-p {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    /* font-family: "Tangerine", cursive; */

    color: #dd4b39;
}

.placements-h1-p2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-box-of-placements-new {
    /* display: none !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 1140px; */
}

.box-of-placements {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 174px;
    height: 620px;
    margin-top: 66px;

}

.box1-placement {
    /* position: relative; */
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-width: 48%;
    text-align: center;
    margin-top: -172px;
    /* width: 1000px; */
    /* height: 500px; */
}

.box2-placement2 {
    max-height: 500px;
}

.p-of-placement {
    color: #1356bb;
    font-size: 20px;
    margin-bottom: 10px;

}

.p2-of-placement {
    text-align: justify;
    line-height: 1.5rem;
    padding: 23px;
    /* height: fit-content; */
    /* padding-top: 50px; */
}

.h1-of-placement {
    margin-top: 30px;
}

.box2-placement {
    position: relative;
    width: 100vw;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
}

/* ======================================slider===================================================> */
.tool-slider1{
    display: none;
}
.body {
    height: 100%;
    /* width: 800px; */
    display: grid;
    place-content: center;
    position: relative;
    z-index: -3;
    overflow: hidden;
    padding: 10px 10px;
}

.gallery {
    margin-top: 10px;
    display: grid;
    /* height: 342px; */
    /* width: 500px; */
    /* margin-bottom: 20px; */
}

.gallery>img {
    grid-area: 9/1;
    width: 90%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 10px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    animation: slide 16s infinite;
    /* z-index: 0; */
}

.gallery>img:last-child {
    animation-name: slide-last;
}

.gallery>img:nth-child(2) {
    animation-delay: -2s;
}

.gallery>img:nth-child(3) {
    animation-delay: -4s;
}

.gallery>img:nth-child(4) {
    animation-delay: -6s;
}
.gallery>img:nth-child(5) {
    animation-delay: -8s;
}
.gallery>img:nth-child(6) {
    animation-delay: -10s;
}
.gallery>img:nth-child(7) {
    animation-delay: -12s;
}
.gallery>img:nth-child(8) {
    animation-delay: -14s;
}
/* .gallery>img:nth-child(9) {
    animation-delay: -16s;
}
.gallery>img:nth-child(10) {
    animation-delay: -18s;
} */



@keyframes slide {
    0% {
        transform: translateX(0%);
        z-index: 2;
    }

    16.66% {
        transform: translateX(120%);
        z-index: 2;
    }

    16.67% {
        transform: translateX(120%);
        z-index: 1;
    }

    33.34% {
        transform: translateX(0%);
        z-index: 1;
    }

    66.33% {
        transform: translateX(0%);
        z-index: 1;
    }

    66.34% {
        transform: translateX(0%);
        z-index: 2;
    }

    100% {
        transform: translateX(0%);
        z-index: 2;
    }
}

@keyframes slide-last {
    0% {
        transform: translateX(0%);
        z-index: 2;
    }

    16.66% {
        transform: translateX(120%);
        z-index: 2;
    }

    16.67% {
        transform: translateX(120%);
        z-index: 1;
    }

    33.34% {
        transform: translateX(0%);
        z-index: 1;
    }

    83.33% {
        transform: translateX(0%);
        z-index: 1;
    }

    83.34% {
        transform: translateX(0%);
        z-index: 2;
    }

    100% {
        transform: translateX(0%);
        z-index: 2;
    }
}

.btn-of-gallery {
    margin-top: 20px;
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
}

.btn-of-gallery:hover {
    background: #000;
    color: white;
    cursor: pointer;
    transition: all .3s linear;
}


.video-wrapper {
    position: absolute;
    transform-origin: center center;
    top: 157px;
    left: 124px;

}

.vdo-class1 {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    transform: translate(-50%, -50%);
    position: relative;

}

.vdo-class2,
.vdo-class3,
.vdo-class4,
.vdo-class5,
.vdo-class6,
.vdo-class7 {
    border-radius: 50%;
    height: 102px;
    width: 134px;
    transform: translate(-50%, -50%);
}

.vdo-class2 {
    width: 50px;
}

.video-wrapper:nth-child(2) {
    transform: rotate(51.43deg) translate(0, -200px) rotate(-51.43deg);
    left: -37px;
    top: 133px;

}

.vdo-class6 {
    width: px;
}


.video-wrapper:nth-child(3) {
    transform: rotate(102.86deg) translate(0, -200px) rotate(-102.86deg);
    top: 20px;
    left: 50px;
}

.video-wrapper:nth-child(4) {
    transform: rotate(154.29deg) translate(0, -200px) rotate(-154.29deg);
    top: 30px;
    left: 182px;

}

.video-wrapper:nth-child(5) {
    transform: rotate(205.71deg) translate(0, -200px) rotate(-205.71deg);
    left: 234px;
    top: 140px;
}

.video-wrapper:nth-child(6) {
    transform: rotate(257.14deg) translate(0, -200px) rotate(-257.14deg);
    left: 177px;
}

.video-wrapper:nth-child(7) {
    transform: rotate(303.57deg) translate(0, -166px) rotate(-308.57deg);
    left: 125px;
    top: 162px;

}

.dot-1 {
    position: relative;

    margin-left: 20px;
}

.dot-2 {
    position: relative;
    left: 207px;
    bottom: 158px;
}

.main-SEO-tool-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 118px; */
    margin-bottom: 26px;
}

.SEO-tool {
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
    margin-top: -87px;
    padding: 10px 10px;
}

.p-of-SEO-tool {
    line-height: 1.5rem;
    /* width: 1150px; */
    /* margin: 10px 8px; */
    /* padding: 10px 10px; */
}

/* =========================slider of tool================================== */

/* Slider container */
/* .main-div-of-slider {
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider {

    max-width: 1140px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
 
    text-align: center;
}

/*  */

 */
 .newslider {
    width: 173px !important;
    
}
 .tool-slider {

    height: 102px;
    width: 204px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 10px;
}
.image-slider-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .image-slider {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
  .image-slider img {
     /* Ensure images take full width of their container */
    height: auto;
    margin-right: 10px;
    flex-shrink: 0; /* Prevent images from shrinking beyond their intrinsic size */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
   
  }
  
  /* Media query for even smaller screens */
  @media (max-width: 480px) {
    
  }
  
.main-div-certifications-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.certifications-section {
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    text-align: center;
    margin: 10px 10px;
    margin-top: 27px;
    max-width: 1140px;
}

.main-tool-bg-item-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-bg-item-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    max-width: 1140px;
}

.img-of-tool-pic {
    border-radius: 15px;
    /* height: 152px; */
    width: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tool-png {
    margin-left: 49px;
    margin-top: 66px;
}

.tool-text {
    /* color: white; */
     margin: 20px  20px;
    font-size: medium;
    text-align: center;
    line-height: 20px;
}

.slides-of-too {

    display: flex;
    align-items: center;
    justify-content: center;
}

.slide1 {
    margin-top: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1140px;
    gap: 10px;
}

.tool-slider1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 275px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    /* margin-right: 20px; */
}

.main-class-of-tool-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.p-certifications-section {
    margin: 10px 0px;
    line-height: 1.5rem;
    /* width: 1137px; */
}

.main-div-of-scholar-section {

    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.scholar-section {
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 10px;
    max-width: 1140px;
}

.main-section-of-company-review {
    margin-top: 47px;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 1140px;
}

.img-of-review-section-main {
    padding: 20px 10px;
}

.img-of-pic {
    display: block;
    margin-top: -50px;
}

.img-of-company-review {
    text-align: center;
    /* height: 600px; */
    width: 49%;
    margin-left: 44px;
    /* width: 634px; */
}

.img-of-company-review h2 {
    margin-bottom: 25px;
}

.img-of-company-review h3 {
    margin-top: 17px;
}
.review-of-company{
    gap: 10px;
    display: flex;
}

.review-images-of-google-justdial-fb {
    height: fit-content;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-right: 10px; */
    border-radius: 10px;
    gap: 10px;
}



.review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    flex-direction: column;

    /* width: 100%; */

}

.slider-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
    overflow: hidden;

}


.slider-container {
    display: flex;
    position: relative;
    margin-top: 30px;
    max-width: 1140px;
    /* max-width: 1140px;     */
    /* overflow: hidden; */
}

.snip1139 {
    margin-top: 50px;
    height: fit-content;
    position: relative;
    overflow: visible;
    margin: 10px;
    max-height: 400px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}

.snip1139:hover {
    transform: scale(1.1);
    z-index: 1;
}

.snip1139 img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    margin-left: 72px;
}

.snip1139:hover img {
    transform: scale(1.2);
}

.snip1139 blockquote {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    background-color: #f4f4f4;
    padding: 25px 50px 25px 50px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
    height: 250px;
    width: 350px;
}

.snip1139 blockquote:before,
.snip1139 blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
}

.snip1139 blockquote:before {
    top: 25px;
    left: 20px;
}

.snip1139 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

.snip1139 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #f4f4f4;
    margin: 0;
    position: absolute;
}

.snip1139 .author {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 25px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    text-transform: uppercase;
}

.snip1139 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

.snip1139 .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}

.p-of-scholar-section {
    margin: 10px 10px;
    line-height: 1.5rem;

    /* width: 1145px; */
}



.tool-slider1 img {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}

.main-div-of-view-more-btn {
    max-width: 1140px;
}

.view-morebtn-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1140px;
    margin-right: 50px;
}

.view-more-btn {

    margin-top: 30px;
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;

}

.view-more-btn:hover {
    background: #000;
    color: white;
    cursor: pointer;
    transition: all .3s linear;
}

.main-div-of-form-section {
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 92px;
    max-width: 1140px;
}

.bo1-of-from {
    height: fit-content;
    /* width: 49%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-section1 {
    /* width: 36%; */
    height: 523px;
    background-color: #1E1810;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;

}


.bo1-of-from form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bo1-of-from form input {
    height: 40px;
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

.bo1-of-from form input::placeholder {
    padding-left: 20px;
}

.input-of-select {
    margin-top: 20px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
}
input,select{
    padding: 0px !important;
}

.h1-of-form-section {
    color: white;
    font-weight: bolder;
    margin-right: 228px;
    margin-left: 20px;
}

.p-of-form-section {
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    margin-right: 228px;
}

.from-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: fit-content;
}

.form-section-part-2 {
    display: flex;
}

.vdo1 {
    display: flex;
    height: 230px;
    width: 280px;
    border-radius: 20px;
}

.vdo1-section {
    display: flex;
}

.vdo-class {

    width: 275px;
}

.form-btn {
    margin-top: 30px;
    background: #DE3335;
    height: 2.4rem;
    width: 174px;
    color: white;
    border: none;
    border-radius: 15px;
}

.form-btn:hover {
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s linear;
}

/* <===================questions-section==================> */
.questions-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
    background-image: url(./bg\ \(31\).jpg);
    background-size: 100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* Main Section Styles */
.main-questions-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.question-section-main-div {
    max-width: 1140px;
    display: flex;
    margin-bottom: 50px;
}

.p-of-questions-section {
    /* width: 1144px; */
    margin-top: 20px;
    line-height: 1.5rem;
    margin: 10px 10px;
}

/* Question Section Styles */
.question-one-section {
    flex-direction: column;
}

.question-main-section {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.questions-section1 {
    /* font-size: small; */
    height: fit-content;
    /* width: 580px; */
}

/* Icon Styles */
.icon-of-question {
    height: 20px;
    width: 20px;
    margin-left: auto;
}

.first-question1 {
    border: 1px solid #d5d8dc;
    height: 66px;
    width: 566px;
    text-align: left;
    background: #f8f5f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
}

.first-question2 {
    outline: #000;
    transition: all .3s ease-in-out;
 
    /* transition: bottom .3s ease-in-out; */
    /* transition: bottom 0.15s cubic-bezier(0.25, 0.1, 0.25, 1) !important; */



    overflow: hidden;
    height: 0;
    opacity: 0;
    text-align: left;
    background: white;
    color: black;
    padding: 0 20px;
}

.first-question2.show {
    height: fit-content;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 566px;
}

.first-question-p {
    flex-grow: 1;
}

.ans-p {
    margin-left: 20px;
}

.main-div-of-aboutzirkapur {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-of-zirakpur {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    gap: 30px;

}

.about-heading {
    margin-top: 20px;
    height: 50px;
    width: 16rem;
    border-radius: 15px;
    text-align: center;

}

.zirkapur-img {
    border-radius: 10px;
    display: block;

    height: 325px;
    ;
}

.text-box-of-aboutzirkapur {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* width: 800px; */
    border-radius: 10px;
}

.about-p {
    text-align: justify;
    /* max-width: 90%; */
    line-height: 1.6rem;
    margin: 10px 10px;
}


iframe {
    margin-top: 50px;
    margin-bottom: -53px;
}

.div-of-iframe {
    max-width: 100%;
}

footer {
    margin-top: 50px;
}

.logo-0f-footer {
    height: 50px;
    width: 279px;
 margin: 20px 20px;
}

.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1e1810;
    color: white;
}

.footer-div a {
    /* gap: 10px; */
    /* margin-right:10px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
}
.footer-div a img{
    margin-right:  10px;
}

.foooter-first-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-div-of-row {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.p-of-footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-icon p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.center-icon{
    /* gap: 20px; */
    margin-top: 10px;
}

.footer-second-div h3 {
    margin-top: -100px;
    text-align: center;
}

.footer-second-div p {
    margin-top: 10px;

}

.text-left-of-footer {
    text-align: center;
    /* gap: 20px; */
}

/* ==================================================== icon-div==================== */
/* .social-icons {
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bootom {
    margin-top: 20px !important;
}

.navicon {
    margin-bottom: 3px;
}

.navicon a .fab {
   

}

.social-icons a {
    display: inline-block;
    width: 36px;
    height: 37px;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    
    transition: .5s;
}



.social-icons a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.social-icons a .fab {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    line-height: calc(59px - 20px);
    font-size: 20px;
   
    margin-bottom: 2px;
    color: #DE3335;
}

#facebook:hover .fab {
    color: #3b5998;
    
}

#twitter:hover .fab {
    color: #00aced;
   
}

#google-plus:hover .fab {
    color: black;
}

#linkedin:hover .fab {
    color: #007bb6;
   
}

#instagram:hover .fab {
    color: black;
   
}

.twitter1 {
    text-align: center;
    height: 15px !important;
    width: 15px !important;
    fill: white;
} */


.footer-thired-div p {
    /* margin-top: 10px; */
}

.our-courses-section {
    margin-top: -80px;
}

.our-courses-section-p {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.div-of-text {
    padding-top: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1810;
}

.text {
    max-width: 90%;
    padding-top: 20px;
    line-height: 1.6rem;
    margin-bottom: 30px;
    color: white;
    text-align: justify;
}

.icon-div-of-time {
    display: flex;

}
.text-of-first-footer{
    margin-top: -58px;
}

.text-of-first-footer-h4 {
    margin-top: 20px;
    /* margin-top: 50px; */
    text-align: center;
}

.text-of-first-footer h3 {
    /* padding-top: 50px; */
    text-align: center;
}

.text-of-footer-new {
    flex-direction: column;
    text-align: center;

}

.SEO-Zirakpur {
    height: 40px;
    width: 34px;
    margin-top: 24px;
    margin-right: 8px;

}

.text-of-first-footer-p {
    line-height: 1.3rem;
    /* margin-top: 20px; */
}

.div-of-adds {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.bootem-text-of-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1810;
    color: white;
    height: 60px;
}

.footer-hr {
    margin-top: 0px;
}

/* <===================blog section=============> */
.blog-section {
    position: relative;
    margin-top: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hr-of-blog-section {
    margin-top: 30px;
}

.box1-of-blog {
    color: black;
    max-width: 90%;
}

.blog-section1 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1-of-blog {
    opacity: 0.8;
    margin-top: 40px;
    line-height: 1.6rem;
}

.h1-of-blog {
    opacity: 0.8;
}

.flex-text {
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* ==================================popup form===================*/
.min-div-of-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-of-form {
    color: #a51b1b
}

#form-container {
    display: none;
    position: fixed;
    top: 0px;
    height: 680px;
    transition: transform 1s ease-in-out 0s;
    transform-origin: top;
    background-color: #EBECF0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    padding: 16px;
    width: 425px;
    margin: 0 auto;
    z-index: 5;
}

.icon-of-form {
    text-align: left;
    margin-left: 350px;
    height: 30px;
    width: 40px
}

.segment {

    padding: 15px 0;
    text-align: center;
}

label {
    display: block;
    color: #DE3335;
    margin-bottom: 24px;
    width: 100%;
}

input,
select {
    margin-right: 8px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECE3;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.input-text-of-form::placeholder {
    color: #a51b1b;
}

.opstion-color {
    color: #a51b1b;
}

input,
select:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.button-of-popup-form {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.icon {
    margin-right: 8px;
}

.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
}

.red {
    width: 100%;
    color: #AE1100;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-group label {
    margin: 0;
    flex: 1;
}
/* =================pop-up-form==================== */

.title {
    color: #d32f2f;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    /* margin-top: 30px; */
    text-align: center;
  }
  
  .subtitle {
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
  }
  
  .input-group {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .input-firstname {
    margin-top: 30px;
  }
  
  .input-lastname {
    margin-top: 30px;
  }
  
  .input-email {
    margin-top: 30px;
  }
  
  .input-field {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-sizing: border-box;
    color: #333;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px 20px;
    width: 100%;
  }
  
  .input-cut {
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 50px;
  }
  
  .input-cut-short {
    width:68px;

  }
  
  .input-field:focus ~ .input-cut,
  .input-field:not(:placeholder-shown) ~ .input-cut {
    transform: translateY(8px);
  }
  
  .input-label {
    color: #999;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 15px;
  }
  
  .input-field:focus ~ .input-label,
  .input-field:not(:placeholder-shown) ~ .input-label {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input-field:not(:placeholder-shown) ~ .input-label {
    color: #555;
  }
  
  .input-field:focus ~ .input-label {
    color: #d32f2f;
  }
  
  .submit-button {
    background-color: #d32f2f;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit-button:active {
    background-color: #b71c1c;
  }
  
  .image-container {
    /* display: none; */
  }
  
 
  .main-div-of-popup{
    display: flex;
    align-items: center;
    justify-content: center ;
    max-width: 1140px;
  }
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 5;
   
}

.popup.show {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}


.popup-content {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 54%;
    max-width: 1000px;
    animation: fadeInUp 0.3s ease-in-out; 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-left {
    flex: 1;
    padding: 20px;
}

.popup-left form {
    display: flex;
    flex-direction: column;
}

.popup-left label {
    margin-top: 10px;
}

.popup-left input, .popup-left textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.popup-left button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #DE3335;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.popup-left button:hover {
    background: #000;
    color: white;
    cursor: pointer;
    transition: all .3s linear;
}

.popup-right {
    flex: 1;
}
.popup-right{
    display: block;
}

.popup-right img {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
 
}


.close-btn {
    position: relative;
    top: -209px;
    right: 6px;
    background: #f44336;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.close-btn:hover {
    background: #d32f2f;
}



/* ===================================whatapps icon========================== */

.custom-container {
    position: fixed;
    top: 90%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
    transition-delay: 0s, 0.3s;
}



.custom-icon-container {
    position: absolute;
    top: 50%;
    margin-right: -10px;
    right: 0;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.3s ease, right 0.3s ease;
}

.custom-icon {
    width: 66px;
    fill: #25D366;
    background: transparent;
    border: none;
    cursor: pointer;

    animation: custom-pulse 1.5s ease-in-out infinite alternate;
}

@keyframes custom-pulse {
    0% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}

.custom-arrow:hover+.custom-icon-container,
.custom-icon-container:hover {
    opacity: 1;

}

.custom-icon-container.zoom-in {
    animation: zoom-in 0.5s ease forwards;
}

.custom-icon-container.zoom-out {
    animation: zoom-out 0.5s ease forwards;
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/* .custom-icon-container:hover{
    background:green;
    height: 60px;
    width: 200px;
    margin-right: 10px;
    border-radius: 15px;

}  */
/* =======================apply job link==================== */
.apply-job {
    background-image: linear-gradient(to right, #AE1100, white);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    color: transparent;
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    animation: slide12 2s infinite, zoom12 4s infinite alternate;
    position: relative;
    
}

.apply-job::before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

@keyframes slide12 {
    0% {
        background-position: -100%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes zoom12 {

    0%,
    100% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }
}

/* */